/* CSS files add styling rules to your content */

body {
    font-family:lato;
    color:#2F3F50;
  }
  
  h1, h2, h3{
    font-family:"Cormorant Garamond";
  }
  
  .lato{
    font-family:"Lato";
  }

  .cormorant{
    font-family:"Cormorant Garamond";
  }
  
  .bg-seomba{
    background-color: #F9F5F1;
  }

  .bg-seomba-dark{
    background-color:#394C60;
  }
  
  .seomba-light{
    color:#F9F5F1;
  }

  .seomba-red-accent{
    color:#CF534A;
  }
  
  .b--seomba-red-accent{
    border-color:#CF534A;
  }
  
  .seomba-red{
    color:#CF534A;
  }
  
  .bg-seomba-red{
    background-color:#CF534A;
  }

  p a, p a:visited{
    color:#CF534A;
  }

.heroh1{
  font-size:60px;
}

#wistia_chrome_23{
  box-shadow:0 0 0.8rem rgb(0 0 0 / 13%);
}