---
title: The Art of Client Management - an SEO MBA course
subtitle: Manage client expectations & communicate more clearly
og: https://seomba.com/images/course-og-full.png
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba-dark avenir">

    {% include nav.html color="dark" %}


    <stickynavtest class="pa2 br2 br--bottom bg-seomba-red">
      <a href="#pricing" class="link cormorant seomba-light f3">Enroll Today</a>
    </stickynavtest>

    <style>
    stickynavtest {
        position: fixed;
        top: 0;
        right: 5%;
        transform: translateY(-100%);
        transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
        z-index:1;
    }

    body.down stickynavtest {
        transform: translateY(0);
        box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    }
    </style>

    <script>
          $(document).ready(function() {
        var $header = $("stickynavtest"),
            $clone = $header.before($header.clone().addClass("clone"));
        
        $(window).on("scroll", function() {
            var fromTop = $(window).scrollTop();
            $("body").toggleClass("down", (fromTop > 800));
        });
    });
    </script>
      
    <div class="w-100 center ph4-l ph2 tc seomba-light">
      <h1 class="maintitle f2 lh-title b mb0">The art of  <span class="i red">effective</span> client management</h1>
      <h2 class="f3 avenir pv0 fw4 mb5">For agency SEO professionals who want to do better work for bigger clients</h2>
    </div>
    
    
    <div class="center mw9 w-80-l center pv4-l flex flex-wrap-reverse ph0-l ph3 seomba-light">      

      <div class="w-50-l w-100 relative pr3-l f4">

        <p class="lh-copy mt0-l mt2 pt3 pt0-l">
          The SEO MBA course on effective client management will help you:
          <ul class="pl3">
            <li class="pv1">Manage client expectations</li>
            <li class="pv1">Communicate more clearly and confidently</li>
            <li class="pv1">Get buy-in and budget for your recommendations</li>
            <li class="pv1">Retain and upsell clients more effectively</li>
            <li class="pv1">Advance in your agency career</li>
          </ul>
        </p>
      </div>
      
            <div class="w-50-l w-100 center">
              <script src="https://fast.wistia.com/embed/medias/8fndxxtnsh.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_8fndxxtnsh videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/8fndxxtnsh/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
      </div>
  </div>
  

  <div class="w-100 bg-seomba">
  <div class="bg-seomba w-100 pv5 mw7 center tc ph0-l ph3">

    <h2 class="f2 cormorant center tc mt0">Every successful project has a foundation of strong client management</h2>
    <p class="measure center tl f4 lh-copy">
    Managing client expectations is all about understanding what they value. It's not extra work or additional - it's the whole game!
    <br><br>
    SEO is a complex discipline - we require other teams to allocate resources in service of our goals. We need various teams at the client's side to work on our initiatives, whether that's engineering, product, marketing, editorial or PR.
    <br><br>
    This course is designed for anyone who works at an agency and cares about building long term clients:
    <ul class="measure center tl f4 lh-copy">
      <li>Consultants</li>
      <li>Account Managers</li>
      <li>Sales people</li>
    </ul>
    <p class="measure center tl f4 lh-copy">If you care about client success then this course is for you. After completing the course you will:</p>
    <ul class="measure center tl f4 lh-copy">
      <li>Understand how to manage client expectations</li>
      <li>Deliver recommendations that actually get implemented</li>
      <li>Close bigger, better clients</li>
      <li>Upsell and retain clients for longer</li>
    </ul>
    
      </div>
    </div>
      <!--End intro essay section-->


    <div class="w-100 bg-seomba tc">

      <h2 class="w-100 center tc f2 mb0">5 Modules, Packed with Case Studies & Examples</h2>
      <h3 class="w-100 avenir tc f3 mt2 fw4 pb4">Follow the weekly program or learn at your own pace</h3>
    
      <div class="mw8 w-90 w-two-thirds-l pa4 ba b--black-20 br2 bg-white tl center">
        <div class="seomba-red-accent f7 pv3">MODULE 1</div>
        <h3 class="f2 mt0 mb3">Client Value</h3>
        <div class="flex flex-wrap mb3">
          <div class="flex items-center f7 pr4">
            <div><img class="h1 h2-l pr2" src="https://img.icons8.com/dotty/344/play-button-circled.png" /></div>
            <div>45 MINS VIDEO</div>
          </div>
          <div class="flex items-center f7 pr4">
            <div><img class="h1 h2-l pr2" src="https://img.icons8.com/ios/344/subtitles.png" /></div>
            <div>CC SUBTITLES (EN)</div>
          </div>
          <div class="flex items-center f7 pr4">
            <div><img class="h1 h2-l pr2" src="https://img.icons8.com/ios/344/subtitles.png" /></div>
            <div>HOMEWORK ASSIGNMENT</div>
          </div>
          <div class="flex items-center f7">
            <div><img class="h1 h2-l pr2" src="https://img.icons8.com/ios/344/subtitles.png" /></div>
            <div class="seomba-red-accent">BONUS: SEO BUSINESS <br>MODEL SPREADSHEET TEMPLATE</div>
          </div>
          
        </div>

        <div class="avenir f3 pt0 mb3">
          Learn how to frame recommendations in terms of business value, how to create a north start for the project to align stakeholders
        </div>

        <div class="flex flex-wrap avenir f4">
          <div class="w-50-l">
            <strong>1.1 Pace Layers</strong>
            Learn how to:
            <ul>
              <li>Understand what clients value</li>
              <li>Deliver value for multiple stakeholders</li>
              <li>Drive value even when client's are resisting change</li>
            </ul>
          </div>
          <div class="w-50-l">
            <strong>1.1 Pace Layers</strong>
            Learn how to:
            <ul>
              <li>Understand what clients value</li>
              <li>Deliver value for multiple stakeholders</li>
              <li>Drive value even when client's are resisting change</li>
            </ul>
          </div>

        </div>

      </div>

    </div>
    <!--End course contents -->


  <div class="pv4">

    <h2 class="cormorant f2">What people say about the Art of Client Management</h2>
      
    <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

      {% include testimonial.html
        quote = "Whether you're agency-side, freelance or working cross-functionally with in-house teams, this is an excellent course on all things client management. It provides the theory needed alongside a myriad of actionable tips that can be used to take your client relationships to the next level."
        name = "Areej AbuAli"
        title = "Head of SEO, Papier"
        image = "/images/areej.jpeg"
      %}

      {% include testimonial.html
        quote = "SEOs get too focused on data, numbers, and technicalities, often neglecting a client's experience. This course takes your SEO expertise and makes it translatable for clients at all levels to ensure they fully understand what's happening, how they can report internally, and how things get done!"
        name = "Jason Berkowitz"
        title = "Founder, SEO Director - Break The Web"
        image = "/images/testimonials/jason-berkowitz.jpeg"
      %}   
      
      {% include testimonial.html
        quote = "Tom understands SEO and client relationships on another level than I've ever experienced. He has the unique ability to go deep while managing to stay out of the weeds that most SEO falls into. I don't think I'll ever interact with a client without referring to and implementing what I learned in Tom's course."
        name = "Jon Nastor"
        title = "CEO & Co-Founder, Digital Commerce Partners"
        image = "/images/testimonials/jon-nastor.jpeg"
      %}         

      {% include testimonial.html
        quote = "The course was great and to the right level of seniority. Everyone on the course had a similar level of experience, which is very useful. I enjoyed the discussion, tasks and homework - which is rare for most courses I have attended. Most importantly Tom was very engaging and clearly has great expertise in his areas. He was able to answer all questions but also bring in new ideas and concepts through his responses to my questions."
        name = "Dhruv Jani"
        title = "Project Manager, Supreme Optimization"
        image = "/images/testimonials/dhruv-jani.jpeg"
      %}
      
      {% include testimonial.html
        quote = "The SEO MBA has been transformative to my business. Each week I learned how to be a better communicator, better strategist and better industry professional. Tom's easy going style of teaching means that the course materials are clear, well paced and above all - instantly applicable. If you want to learn how to be more effective with clients and build your expertise you will come away with the knowledge and tools to succeed."
        name = "Chris Hackett"
        title = "Founder, Face Digital"
        image = "/images/testimonials/chris-hackett.jpeg"
      %}  
      
      {% include testimonial.html
        quote = "Going in, I felt like my approach to client management over the course of 10 years was really well established. I've seen and experienced a wide range of internal agency and external client-facing scenarios that made me feel very well equipped for every interaction I came across. The SEO MBA course opened my eyes to a different way of viewing client management, change management, and interpersonal communication that has allowed me to level up my interactions across the board.
        <br><br>
        Tom brought a really conversational and relatable point of view to each lesson that made the concepts really easy to understand and incredibly actionable. The group workshops and homework assignments provided the opportunity to grapple with core concepts in a very hands-on way and built on the coursework from both a theoretical and a practical perspective.
        <br><br>
        The takeaways from the SEO MBA course transcend just client-side SEO, with applications across any role where technical expertise needs to be communicated across an organizational hierarchy. I highly recommend this course for both marketing consultants working with clients and in-house marketers working with internal teams and vendors to gain the valuable perspective needed to distill technical insights, transform insights into solutions, turn solutions into actions, and communicate the impact of those actions in a way that perpetuates trust, authority, and expertise."
        name = "Gary Magnone"
        title = "Principal, Agency Ops"
        image = "/images/testimonials/gary-magnone.jpeg"
      %}        
       
      {% include testimonial.html
        quote = "Tom's course has impacted my daily way of working with clients in an invaluable way. The presentations and discussions are always extremely engaging and interesting. Tom's personality and kindness really comes across in these sessions and it is thoroughly enjoyable throughout. Thank you Tom - I can't recommend these courses enough!"
        name = "Becky Weatherley"
        title = "Digital Strategist, Supreme Optimization"
        image = "/images/testimonials/becky-weatherley.jpeg"
      %}  

      {% include testimonial.html
        quote = "Tom has put together an advanced course that can help just about anyone consulting on SEO to level up their business acumen, better connect with their clients, create change inside of complex organizations, and grow accounts for the long term."
        name = "John-Henry Scherck"
        title = "Principal Consultant, Growth Plays"
        image = "/images/jh.jpeg"
      %}        

      {% include testimonial.html
        quote = "The great thing about Tom's course is that it doesn't just help you become more advanced in SEO or sell more (it definitely does that). It actually enables you to better understand yourself and others, start and manage more successful projects, and foster more meaningful relationships."
        name = "Marco Schlauri"
        title = "Founder, Digital Leverage"
        image = "/images/marco.jpeg"
      %}        
     
      
  
    </div>

  </div>  
  <!-- End Testimonials Div-->

  {% include footer.html %}



        
       
      


      
                
      
    
    
  