---
title: The Art of Client Management - an SEO MBA course
subtitle: Manage client expectations & communicate more clearly
og: https://seomba.com/images/aocm-og.png
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba-dark avenir">

    {% include nav.html color="dark" %}

    <!--Sticky Nav #-->
    <stickynavtest class="bg-seomba-dark w-100 center tc shadow-1">      

      <!--Mobile in-page nav-->
      <div class="db dn-l">
        <div class="flex flex-wrap items-center justify-between w-90 center">
          <div class="w-60 seomba-light tl" id="mobileinpagedropdown">
            <span class="" id="mobilenavlabel">Who it's for</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" id="downchevron" fill="currentColor" class="v-mid seomba-light" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
            </svg>

          </div>
          <div class="">
            <a class="f6 f5-l link  seomba-light  dib pa2 mb1 br2 br--bottom ph4-l bg-seomba-red" href="#pricing">Enroll Today</a>
          </div>
          <div class="dn w-100 tl" id="mobilenavhidden">
            <div class="w-100 pa2"><a class="mobileinpagenav link seomba-light" href="#intro">Who it's for</a></div>
            <div class="w-100 pa2"><a class="mobileinpagenav link seomba-light" href="#contents">Course Contents</a></div>
            <div class="w-100 pa2"><a class="mobileinpagenav link seomba-light" href="#testimonials">Testimonials</a></div>
            <div class="w-100 pa2"><a class="mobileinpagenav link seomba-light" href="#tom">About Tom Critchlow</a></div>
            <div class="w-100 pa2"><a class="mobileinpagenav link seomba-light" href="#faq">FAQ</a></div>
          </div>
        </div>
      </div>

      <!--Desktop in-page nav-->
      <div class="dn db-l" id="desktoppagenav">
        <a class="f6 f5-l link  seomba-light  dib pv2 ph2 mh2-l b--seomba-red-accent bw2" href="#intro" id="introlink">Who it's for</a>
        <a class="f6 f5-l link  seomba-light  dib pv2 ph2 mh2-l b--seomba-red-accent bw2" href="#contents" id="courselink">Course Contents</a>
        <a class="f6 f5-l link  seomba-light  dib pv2 ph2 mh2-l b--seomba-red-accent bw2" href="#testimonials" id="testimonialslink">Testimonials</a>
        <a class="f6 f5-l link  seomba-light  dib pv2 ph2 mh2-l b--seomba-red-accent bw2" href="#tom" id="tomlink">About Tom Critchlow</a>
        <a class="f6 f5-l link  seomba-light  dib pv2 ph2 mh2-l b--seomba-red-accent bw2" href="#faq" id="faqlink">FAQ</a>
        <a class="f6 f5-l link  seomba-light  dib pa2 mb1 br2 br--bottom ph4-l bg-seomba-red" href="#pricing">Enroll Today</a>
      </div>

        

    </stickynavtest>

    <style>
    stickynavtest {
        position: fixed;
        top: 0;
        transform: translateY(-100%);
        transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
        z-index:1;
    }

    body.down stickynavtest {
        transform: translateY(0);
    }

    </style>
    

    <script>
      $(document).ready(function() {
        $(window).on("scroll", function() {
            var fromTop = $(window).scrollTop();
            $("body").toggleClass("down", (fromTop > 750));
        });
      });

      $( "#mobileinpagedropdown" ).click(function() {
        $("#mobilenavhidden").toggle();
      });

      $( ".mobileinpagenav" ).click(function() {
        $("#mobilenavhidden").toggle();
      });

     

      function isVisibile(id){
        scrollpoint = window.scrollY;
        elementtop = document.getElementById(id).offsetTop - 200;
        elementbottom = elementtop + document.getElementById(id).offsetHeight;
        if(scrollpoint > elementtop && scrollpoint < elementbottom){
          return true;
        }else{
          return false;
        }
      };

      function updateNav(id){
        $("#desktoppagenav a").each(function(){
          $(this).removeClass("bb");
        });
        $("#"+id).addClass("bb");
      }

    const mobilenavlabel = document.getElementById("mobilenavlabel");
    window.addEventListener("scroll", function() {
      switch (true) {
        case (isVisibile("intro")):
          mobilenavlabel.innerHTML = "Who it's for";
          updateNav("introlink");
          break;
        case (isVisibile("contents")):
          mobilenavlabel.innerHTML = "Course Contents";
          updateNav("courselink");
          break;
        case (isVisibile("testimonials")):
          mobilenavlabel.innerHTML = "Testimonials";
          updateNav("testimonialslink");
          break;          
        case (isVisibile("tom")):
          mobilenavlabel.innerHTML = "About Tom Critchlow";
          updateNav("tomlink");
          break;
        case (isVisibile("faq")):
          mobilenavlabel.innerHTML = "FAQ";
          updateNav("faqlink");
          break;          
      }
    });
      
    </script>
      
    <div class="w-100 center ph4-l ph3 tc seomba-light">
      <h1 class="maintitle f1 f2-l lh-title b mb0">The Art of Client Management</h1>
      <h2 class="f3 avenir pv0 fw4 mb5-l mb4 i">For agency SEO professionals who want to do better work for bigger clients</h2>
    </div>
    
    
    <div class="center mw9 w-80-l center pv4-l pb4 mb4 flex flex-wrap-reverse ph0-l ph3 seomba-light">      

      <div class="w-50-l w-100 relative pr3-l f4">

        <p class="lh-copy mt0-l mt2 pt3 pt0-l">
          The Art of Client Management course will help you:
          <ul class="pl3">
            <li class="pv1">Manage client expectations</li>
            <li class="pv1">Communicate more clearly and confidently</li>
            <li class="pv1">Get buy-in and budget for your recommendations</li>
            <li class="pv1">Retain and upsell clients more effectively</li>
            <li class="pv1">Advance in your agency career</li>
          </ul>
        </p>
        <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 mr3 grow">
          <a class="w-100 db link seomba-light cormorant tc" href="#pricing">Enroll Today!</a>
      </div>
      </div>
      
            <div class="w-50-l w-100 center">
              <script src="https://fast.wistia.com/embed/medias/twkq3lc6q8.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_twkq3lc6q8 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/twkq3lc6q8/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
      </div>
  </div>
  

  <div class="w-100 bg-seomba" id="intro">
  <div class="bg-seomba w-100 pt5 pb3 mw7 center tc ph0-l ph3">

    <h2 class="f2 cormorant center tc mt0">Every successful project has a foundation of strong client management</h2>
    <p class="measure center tl f4 lh-copy">
    Managing client expectations is all about understanding what clients value - putting ourselves in their shoes to understand the context for our project. It's crucial to understand the goals, resources and priorities that drive our clients so that we can provide recommendations and projects that create impact.
      <br><br>
    We want to deliver work that drives change, not documents that sit on a shelf and get dusty. And that requires building strong client relationships. Building client relationships is not additional or extra work - it's a crucial part of our project's success. 
    <br><br>
    Client management matters because SEO is a complex discipline. We require our client's teams to allocate resources in service of our goals whether engineering, product, marketing, editorial or PR. We need to do more than provide recommendations, we need to advocate for SEO initiatives.
    <br><br>
    This course is designed for anyone who works at an agency and cares about client success:
    <ul class="measure center tl f4 lh-copy">
      <li>Consultants</li>
      <li>Account Managers</li>
      <li>Sales people</li>
    </ul>
    <p class="measure center tl f4 lh-copy">After completing the course you will:</p>
    <div class="measure f4 tl center">
      <div class="flex w-100 pv2 items-center">
        <div class="ph3"><img class="h2" src="/images/success-green-check-mark.svg"/></div>
        <div class="w-80">Manage client expectations more effectively</div>
      </div>
      <div class="flex w-100 pv2 items-center">
        <div class="ph3"><img class="h2" src="/images/success-green-check-mark.svg"/></div>
        <div class="w-80">Communicate more clearly and confidently</div>
      </div>
      <div class="flex w-100 pv2 items-center">
        <div class="ph3"><img class="h2" src="/images/success-green-check-mark.svg"/></div>
        <div class="w-80">Get buy-in and budget for your recommendations</div>
      </div>
      <div class="flex w-100 pv2 items-center">
        <div class="ph3"><img class="h2" src="/images/success-green-check-mark.svg"/></div>
        <div class="w-80">Upsell and retain clients for longer</div>
      </div>
      <div class="flex w-100 pv2 items-center">
        <div class="ph3"><img class="h2" src="/images/success-green-check-mark.svg"/></div>
        <div class="w-80">Be more skilled at building trusted relationships</div>
      </div>
    </div>
    
      </div>
    </div>
      <!--End intro essay section-->


    <div class="w-100 bg-seomba tc pv4" id="contents">

      <h2 class="w-100-l w-90 center tc f2">5 Modules, Packed with Case Studies & Examples</h2>

      {% include course-module.html  
        number = "1"
        title = "Delivering Client Value"
        description = "Managing client expectations requires aligning with our clients on goals, resources and priorities. We need to understand how to provide value, even if we're facing resistance. Learn how to:
        <ul>
          <li>Understand different types of value for clients</li>
          <li>Be valuable even when we can't get things done</li>
          <li>Align with your client on reporting and metrics</li>
          <li>Tie our recommendations to business value</li>
        </ul>"
        videomins = "64"
        %}

      {% include course-module.html  
        number = "2"
        title = "Effective Recommendations"
        description = "Everyone wants to avoid making documents that get dusty and sit on a shelf. But how? In this module we look at how to frame our recommendations so that clients find them compelling and actionable. Learn how to:
        <ul>
          <li>Create a north star for the project to get everyone excited</li>
          <li>Understand our client's revenue more deeply</li>
          <li>Build a business model for SEO investment</li>
          <li>Tie our recommendations to business value</li>
        </ul>
        "
        videomins = "35"
        spreadsheet = true
        %}

      {% include course-module.html  
        number = "3"
        title = "Clear Communication"
        description = "Communicating our ideas clearly and confidently is crucial. Especially if we're trying to win over senior stakeholders at our client's organization. Learn how to:
        <ul>
          <li>Communicate effectively in meetings, emails and documents</li>
          <li>Structure technical communication clearly and logically</li>
          <li>Create effective business presentations</li>
        </ul>"
        videomins = "73"
        presentation = true
        %}   
        
      {% include course-module.html  
        number = "4"
        title = "The Habits of Client Management"
        description = "Great client relationships are built one interaction at a time. So here we look closely at the various different touchpoints with clients. Learn how to:
        <ul>
          <li>Create better statement of work (SOW) documents</li>
          <li>Run great kickoff meetings</li>
          <li>Retain and upsell clients effectively</li>
          <li>Deliver recommendations that actually get implemented</li>
        </ul>
        "
        videomins = "55"
        document = true
        %}
        
      {% include course-module.html  
        number = "5"
        title = "Building Trust & Handling Conflict"
        description = "Trust is crucial to good relationships and good communication. But how do you actually build trust? In this module we explore deliberate frameworks and strategies for building trust. Learn how to:
        <ul>
          <li>Use the trust equation to build trust</li>
          <li>Communicate the right way over time as our client relationship evolves</li>
          <li>Reduce panic before high stakes interactions</li>
          <li>Use the STATE framework to structure difficult conversations</li>
        </ul>
        "
        videomins = "59"
        %}        

        <div class="mw8 w-90 w-two-thirds-l pa4 ba b--seomba-red-accent br2 tl center bg-white mb4">
          <h3 class="f2 mt0 mb3 seomba-red-accent">Professional Tier Access</h3>
      
          <div class="avenir f4 lh-copy mb3">
            The professional tier gives you the most value - giving you direct access to 1:1 feedback from Tom Critchlow on the assignments and access to the weekly office hours.

            <div class="flex flex-wrap pt4">
              <div class="w-50-l w-100 pr4-l pb4">

                <div class="w-100">
                  <img class="w-100" src="/images/homework-2up.png">
                </div><div class="f5 i">Use the homework assignments to get real feedback on real work.</div>
  
              </div>
              <div class="w-50-l w-100 tc pl4-l pb4">
  
                <div class="w-100">
                  <img src="/images/office-hours-3.png" class="w-100">
                </div><div class="f5 tl">The weekly office hours are intimate spaces to talk about the course or real client situations.</div>
              </div>
            </div>
         
          </div>
      
        </div>

    </div>
    <!--End course contents -->


  <div class="pv4 bg-seomba" id="testimonials">

    <h2 class="cormorant f2 tc w-90 center">What People Say About the Course</h2>
      
    <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

      {% include testimonial.html
        quote = "Tom's course has impacted my daily way of working with clients in an invaluable way. The presentations and discussions are always extremely engaging and interesting.<br><br>Tom's personality and kindness really comes across in these sessions and it is thoroughly enjoyable throughout. Thank you Tom - I can't recommend these courses enough!"
        name = "Becky Weatherley"
        title = "Digital Strategist, Supreme Optimization"
        image = "/images/testimonials/becky-weatherley.jpeg"
      %}  
      
      {% include testimonial.html
        quote = "Going in, I felt like my approach to client management over the course of 10 years was really well established. I've seen and experienced a wide range of internal agency and external client-facing scenarios that made me feel very well equipped for every interaction I came across. <br><br>The SEO MBA course opened my eyes to a different way of viewing client management, change management, and interpersonal communication that has allowed me to level up my interactions across the board."
        name = "Gary Magnone"
        title = "Principal, Agency Ops"
        image = "/images/testimonials/gary-magnone.jpeg"
      %}       

      {% include testimonial.html
        quote = "Tom understands SEO and client relationships on another level than I've ever experienced. He has the unique ability to go deep while managing to stay out of the weeds that most SEO falls into. <br><br>I don't think I'll ever interact with a client without referring to and implementing what I learned in Tom's course."
        name = "Jon Nastor"
        title = "CEO & Co-Founder, Digital Commerce Partners"
        image = "/images/testimonials/jon-nastor.jpeg"
      %} 

      {% include testimonial.html
        quote = "Whether you're agency-side, freelance or working cross-functionally with in-house teams, this is an excellent course on all things client management.<br><br>It provides the theory needed alongside a myriad of actionable tips that can be used to take your client relationships to the next level."
        name = "Areej AbuAli"
        title = "Head of SEO, Papier"
        image = "/images/areej.jpeg"
      %}
  
      {% include testimonial.html
        quote = "SEOs get too focused on data, numbers, and technicalities, often neglecting a client's experience.<br><br>This course takes your SEO expertise and makes it translatable for clients at all levels to ensure they fully understand what's happening, how they can report internally, and how things get done!"
        name = "Jason Berkowitz"
        title = "Founder, SEO Director - Break The Web"
        image = "/images/testimonials/jason-berkowitz.jpeg"
      %}          
  
      {% include testimonial.html
        quote = "The course was great and to the right level of seniority. Everyone on the course had a similar level of experience, which is very useful. I enjoyed the discussion, tasks and homework - which is rare for most courses I have attended.<br><br>Most importantly Tom was very engaging and clearly has great expertise in his areas. He was able to answer all questions but also bring in new ideas and concepts through his responses to my questions."
        name = "Dhruv Jani"
        title = "Project Manager, Supreme Optimization"
        image = "/images/testimonials/dhruv-jani.jpeg"
      %}
     
  
    </div>

  </div>  
  <!-- End Testimonials Div-->


  <div class="pt4 bg-seomba center" id="tom">
    <h3 class="f2 cormorant tc w-90 center">Learn with Tom Critchlow</h3>
    <div class="flex flex-wrap-l flex-wrap-reverse mw8 w-90 ph3-l center">

      <div class="w-100 w-50-l pr4-l">
        
          <div class="avenir f4 pb4 lh-copy">
          An industry leader with over 15 years experience in SEO and digital strategy. Tom has worked with well known brands, trained teams of SEO consultants and worked with various SEO agencies to improve sales, process and operations.
          </div>
          <div class="w-100 pb4">
            <div class="flex items-center">
              <div class="w-25 pr4">
                <img class="br-100" style="filter: grayscale(1);" src="/images/robert.jpeg" />
              </div>
              <div class="w-75">
                <em>“Tom brings a unique mix of SEO, business strategy and executive presence. Working together we have successfully secured investment to build modern SEO programs, driven valuable revenue growth and transformed SEO into a strategic business lever with executive leadership at various enterprises.” <br>- Robert Bellovin, VP Product, Angi</em>
              </div>
            </div>
           </div>
  
           <div class="w-100">
            <div class="flex items-center">
              <div class="w-25 pr4">
                <img class="br-100" style="filter: grayscale(1);" src="/images/jeremy.jpeg" />
              </div>
              <div class="w-75">
                <em>“Tom is a 'CEO Whisperer'. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered." <br>- Jeremy Cabral, Co-founder & COO, Finder</em>
              </div>
            </div>
           </div> 
        </div>
      

      <div class="w-100 w-50-l pl4-l">
        <img class="w-100 center shadow-1" src="/images/tom-speaking.JPG" />
      </div>

    </div>

  </div>
  <!--End Tom Critchlow section-->

  <div class="w-100 mw9 ph3-l center bg-seomba pt2 pb4">
    <h3 class="f3 tc">Clients I've Worked With</h3>

    <div class="flex flex-wrap justify-center">
      <img class="pa3 h2 mt1" src="/images/clients/nyt.svg">
      <img class="pa3 h2 mt1" src="/images/clients/etsy.svg">
      <img class="pa3 h2 mt1" src="/images/clients/google.svg">

      <img class="pa3 h2 mt1" src="/images/clients/angi.svg">
      <img class="pa3 h2" src="/images/clients/finder.svg">
      <img class="pa3 h2" src="/images/clients/gartner.svg">
      <img class="pa3 h2" src="/images/clients/dotdash.svg">
    </div>     

  </div>
  <!--End client logos-->



<div class="w-100 mw9 bg-seomba-dark tc z-2 relative pv4 center ph3 ph0-l center" id="pricing">
  <h2 class="seomba-light w-100 center tc f2">Start the Course Today</h2>

<div class="seomba-light pb4 i" >Show Agency Pricing <input id="agencytoggle" class="toggle v-mid" type="checkbox" /></div>

<div class="flex flex-wrap flex-column-reverse flex-row-l w-100 justify-center mw9">

<div class="w-25-l w-100 ba b--seomba-red-accent br2 br--left-l bg-seomba pa4 mv4 " id="essentialpricing">
  <h3 class="f2 mt0">Essentials</h3>
  <p class="i tl">The full Art of Client Management course.</p>
  <p class="f2 avenir fw4 mv3">$500</p>
  <a class="pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://courses.seomba.com/executive-presence" data-podia-embed="link" onclick="gtag('event', 'podia', {'event_category': 'podia_checkout', 'event_label': 'essentials'});">Buy Now</a>
  <p class="avenir tl pt4">
    What's included:
    <ul class="tl pl3">
      <li class="pv2">Over 5 hours of video</li>
      <li class="pv2">Lifetime access</li>
      <li class="pv2">3 practice scenarios</li>
      <li class="pv2">SEO investment spreadsheet template</li>
      <li class="pv2">Full SEO strategy presentation template</li>
    </ul>
  </p>
</div>

<div class="w-third-l w-100 ba b--seomba-red-accent br2 bg-seomba pa4 pt4 mr5-l" id="professionalpricing">
  <h3 class="pt3 f2 mt3-l mt0">Professional</h3>
  <p class="i tl">Everything in Essentials, plus email feedback on your assignments and access to the weekly office hours.</p>
  <p class="f2 avenir fw4 mv3">$700</p>
  <a class="pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://courses.seomba.com/professional-tier-executive-presence" data-podia-embed="link" onclick="gtag('event', 'podia', {'event_category': 'podia_checkout', 'event_label': 'professional'});">Buy Now</a>
  <p class="avenir tl pt4">
    What's included:
    <ul class="tl pl3 mb0">
      <li class="pv2">Over 5 hours of video</li>
      <li class="pv2">Lifetime access</li>
      <li class="pv2">3 practice scenarios</li>
      <li class="pv2">SEO investment spreadsheet template</li>
      <li class="pv2">Full SEO strategy presentation template</li>
    </ul>
    <span class="red pv2 tl db">+ 1:1 Email feedback on assignments</span>
    <span class="red pv2 tl db">+ Weekly office hours on zoom</span>
  </p>
</div>

<div class="w-25-l w-100 ba b--seomba-red-accent br2 bg-seomba pa4 mv4 " id="agencypricing">
  <h3 class="f2 mt0">Agency Plans</h3>
  <p class="i tl">Purchase The Art of Client Management for your whole team. Professional perks included.</p>
  <div class="flex flex-wrap pt3 justify-center">
    <div class="relative pr4">
      <div class="absolute top--1 f6 pr4">seats</div>
      <select id="seatsinput" class="bg-white b--seomba-red-accent ba br2 pa1 f4">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="Custom">> 10</option>
      </select>
    </div>
    <a id="agencybuybutton" class="pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="mailto:tom@seomba.com" onclick="gtag('event', 'email', {'event_category': 'email_contact', 'event_label': 'custom'});">Buy Now</a>
  </div>
  
  <p class="avenir tl pt4">
    Everyone on your team gets full access to the course, including:
    <ul class="tl pl3 mb0">
      <li class="pv2">Guided course emails</li>
      <li class="pv2">Course completion certificates</li>
      <li class="pv2">1:1 feedback on weekly assignments</li>
      <li class="pv2">Access to weekly office hours</li>
      </ul>
  </p>
</div>

</div>

<p class="seomba-light pv5 ph3 measure f3 cormorant center">“The SEO MBA has been transformative to my business. Each week I learned how to be a better communicator, better strategist and better industry professional.”
  <br><br>
  <span class="avenir f5">Chris Hackett - Founder, Face Digital</span></p>

{% include bundle.html %}

</div>

<script>
  const seatsinput = document.getElementById("seatsinput");
  const agencybuybutton = document.getElementById("agencybuybutton");

  seatsinput.addEventListener('input', function (evt) {
    switch(parseInt(this.value)){
      case 0:
        break;
      case 1:
        agencybuybutton.innerHTML = "$5,000";
        break;
      default:
        agencybuybutton.innerHTML = "Get in touch";

    };
  });

  const agencytoggle = document.getElementById("agencytoggle");
  const essentialpricing = document.getElementById("essentialpricing");
  const professionalpricing = document.getElementById("professionalpricing");
  const agencypricing = document.getElementById("agencypricing");
  
  $("#agencypricing").toggle();
  agencytoggle.addEventListener('click', function (evt) {
    
    $("#agencypricing").toggle();
  });


</script>
<!-- End pricing table-->









<div class="w-100 bg-seomba" id="faq">
<div class="pv5 mw8 center ph3 ph0-l bg-seomba">
    <h2 class="w-100 center tc f2 mb0">FAQ</h2>
  
    <details>
      <summary>How long will the weekly office hours continue?</summary>
      <div class="pa3 bg-white">Office hours are held weekly and will continue at least through the end of 2022.</div>
    </details>  
  
    <details>
      <summary>What if I can't make the office hours?</summary>
      <div class="pa3 bg-white">I can't guarantee to cover every single time zone but I'll do my best to vary the time of day and day of he week so that everyone can get a chance to attend these sessions. Most commonly they'll be Thursday morning, Eastern Time</div>
    </details>    
  
    <details>
      <summary>Do I have to follow the 5 week schedule?</summary>
      <div class="pa3 bg-white">No, you don't have to. You get lifetime access to all of the materials on day 1 and can study at your own pace. That said there's a lot of materials so I suggest pacing yourself with the weekly emails!</div>
    </details>    
  
    <details>
      <summary>Do you have a 1-pager PDF I can show my boss?</summary>
      <div class="pa3 bg-white">Sure! Take a look at <a href="/SEOMBA-executive-presence-overview.pdf">this PDF</a> or the <a href="https://docs.google.com/presentation/d/1zLE97s5Ic0EJrmMoZ0qa64KNbJeyMWbi3hod3JLzvPA/edit">Google Docs version</a></div>
    </details>        
  
    <details>
      <summary>I work on small business SEO. Is this course for me?</summary>
      <div class="pa3 bg-white">While the course content should be useful and applicable to everyone, it's geared towards SEOs working with medium and large organizations where business skills, investment models and presentations are most impactful.</div>
    </details>  
  
    <details>
      <summary>Will this course share any advanced technical SEO?</summary>
      <div class="pa3 bg-white">No. In fact, there's very little "SEO advice" in the whole course. The focus is specifically on developing the business, leadership and consulting skills that you need to become a more senior SEO professional, not tips and tricks.</div>
    </details>   
  
    <details>
      <summary>Can I get my company to pay for this?</summary>
      <div class="pa3 bg-white">I hope so! Many organizations have L&D, training and professional development budgets that you can use to help pay for the course. Feel free to put your manager in touch with me!</div>
    </details>   
    
    <details>
      <summary>Can I pay by invoice?</summary>
      <div class="pa3 bg-white">Sure thing. Send me an email: tom@seomba.com and I'll get you set up.</div>
    </details>  
  
    <details>
      <summary>Is there a discount for buying multiple seats?</summary>
      <div class="pa3 bg-white">Sure thing. Send me an email: tom@seomba.com and I'll get you set up.</div>
    </details>    
    
    <details>
      <summary>Do I get a certificate when I complete the course?</summary>
      <div class="pa3 bg-white">Yes! You'll receive a digital certificate when you complete the course materials.</div>
    </details>    
  
    <details>
      <summary>Can I book a private 1:1 if I did not purchase the Executive tier?</summary>
      <div class="pa3 bg-white">Sure! If you decide once you've done the course that you wish you had booked another tier for more personal feedback, you can purchase a 45 minute 1:1 chat separately. Just email me: tom@seomba.com</div>
    </details>      
  
    <details>
      <summary>Can I get a refund?</summary>
      <div class="pa3 bg-white">If you've watched the videos and still aren't getting value then send me an email within 60 days and I'll refund you the course: tom@seomba.com</div>
    </details>    
  
    <details>
      <summary>I have a question about the SEO strategy of Icons8</summary>
      <div class="pa3 bg-white">Hey, neat. To use their icons you have to link to them. So here we are:
        <a target="_blank" href="https://icons8.com/icon/42431/document">Document</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        <a target="_blank" href="https://icons8.com/icon/99355/play-button-circled">Play Button Circled</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        <a target="_blank" href="https://icons8.com/icon/Qa2QE1qRXdkg/google-slides">Google Slides</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        <a target="_blank" href="https://icons8.com/icon/b7D14xOqb9x7/google-sheets">Google Sheets</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        <a target="_blank" href="https://icons8.com/icon/UZVQWHhBc6kQ/google-docs">Google Docs</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
      </div>
    </details>      
  
  <p class="tc">The SEO MBA contributes 1% of revenue to carbon removal. <a href="https://climate.stripe.com/ob3VSo">See more info here</a>.</p>
  
  </div>
</div>  
  <!--End FAQ section-->

  {% include footer.html %}



        
       
      


      
                
      
    
    
  