---
title: The Art of Client Management - an SEO MBA course
subtitle: Manage client expectations & communicate more clearly
og: https://seomba.com/images/course-og-full.png
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba-dark avenir">

    {% include nav.html color="dark" %}


    <stickynavtest class="pa2 br2 br--bottom bg-seomba-red">
      <a href="#pricing" class="link cormorant seomba-light f3">Enroll Today</a>
    </stickynavtest>

    <style>
    stickynavtest {
        position: fixed;
        top: 0;
        right: 5%;
        transform: translateY(-100%);
        transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
        z-index:1;
    }

    body.down stickynavtest {
        transform: translateY(0);
        box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    }
    </style>

    <script>
          $(document).ready(function() {
        var $header = $("stickynavtest"),
            $clone = $header.before($header.clone().addClass("clone"));
        
        $(window).on("scroll", function() {
            var fromTop = $(window).scrollTop();
            $("body").toggleClass("down", (fromTop > 800));
        });
    });
    </script>
      
    <div class="w-100 center ph4-l ph2 tc seomba-light">
      <h1 class="maintitle f2 lh-title b mb0">The art of  <span class="i red">effective</span> client management</h1>
      <h2 class="f3 avenir pv0 fw4 mb5">Manage expectations, communicate more clearly and grow accounts</h2>
    </div>
    
    
    <div class="center mw9 w-80-l center pv4-l flex flex-wrap-reverse ph0-l ph3 seomba-light">      

      <div class="w-50-l w-100 relative pr3-l f4">

        <p class="lh-copy mt0-l mt2 pt3 pt0-l">
          The SEO MBA course on effective client management will help you:
          <ul class="pl3">
            <li class="pv1">Manage client expectations</li>
            <li class="pv1">Communicate more clearly and confidently</li>
            <li class="pv1">Get buy-in and budget for your recommendations</li>
            <li class="pv1">Retain and upsell clients more effectively</li>
            <li class="pv1">Advance in your agency career</li>
          </ul>
        </p>
      </div>
      
            <div class="w-50-l w-100 center">
              <script src="https://fast.wistia.com/embed/medias/uqao3g3o3v.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_uqao3g3o3v videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/uqao3g3o3v/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
      </div>
  </div>
  

  <div class="pa4-l bg-seomba tc">
    <h2 class="f1 cormorant center">Coming Soon!</h2>
    <form action="https://courses.seomba.com/email_lists/360380/subscriptions" accept-charset="UTF-8" method="post" class="mw6 center pa4 mb6 br2-ns  b--black-10 helvetica">
      <fieldset class="bn ma0 pa0">
        <legend class="pa0 f5 f4-ns mb3 black-80">Get notified when the course launches:</legend>
        <div class="cf ba b--black-30 shadow-2">
          <label class="clip" for="email-address">Email Address</label>
          <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-80 br2-ns br--left-ns" placeholder="Your Email Address" type="email" name="email" required="required" placeholder="Email" id="email-address">
          <input class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-20 br2-ns br--right-ns" type="submit" value="→">
        </div>
      </fieldset>
    </form>
  </div>



        
       
      


      
                
      
    
    
  