---
title: SEO MBA Corporate Workshops
subtitle: Level up your team
---

{% include head.html %}

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="maintitle f2 lh-title b">Corporate Workshops</h1>
      <p>Group programs and private cohorts from the SEO MBA</p>
    </div>
    
    <div class="">
      
      <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

        <div class="mw7 center ph5-l ph2 w-100 tl lh-copy">
            <p>
        The SEO MBA course is designed for mid-career and senior SEO professionals who need to improve their business skills, become more confident dealing with senior executives and 
        <br><br>
        Key skills:
        <ul>
        <li>Create a compelling strategy and vision</li>
        <li>Create a business model for investing in SEO projects</li>
        <li>Create compelling executive-ready presentations</li>
        <li>Become more effective at getting things Done</li>
        </ul>
        Click here for <a class="link seomba-red" href="https://seomba.com/executive-presence/">more information on the full course curriculum and format</a>.
        <br><br>
        In addition to the self-paced online course I've run private workshops for agencies, in-house teams and holding companies.
        <br><br>There are three core offerings for corporate workshops. Want to discuss a corporate workshop or a group discount? Get in touch, book a chat <a class="link seomba-red" href="https://calendly.com/tomcritchlow/tom-chat">via calendly</a> or email me: <a class="link seomba-red" href="mailto:tom@seomba.com">tom@seomba.com</a>
        </p>

        <h2>Option 1: Test & Learn</h2>
        <p>If you're considering the course for your company and want to test drive it first, this option enables you to get a feel for the material. This provides access to the <a class="link seomba-red" href="https://seomba.com/executive-presence/">full self-paced course</a> but also provides 1:1 feedback on the individual assignments and a <strong>60 minute coaching session with Tom Critchlow</strong>.</p>
        <p>Pricing: $1,500 / person (designed for 1-3 people)</p>
        <p><em class="black-60">If you decide to purchase a group package later on this price will be discounted from the total</em></p>

        <h2>Option 2: Group Discounts</h2>
        <p>This option</p>
        <p>Pricing:
            <ul>
                <li>3+ seats: 10% discount</li>
                <li>5+ seats: 15% discount</li>
                <li>10+ seats: 20% discount</li>
            </ul>
            In addition, if you buy 10+ seats I 

        </p>

        <h2>Option 3: Private Cohorts</h2>
        <p>This option</p>

        </div>





        <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">
        {% include testimonial.html

            quote = "The SEO MBA course and newsletter has been a game-changer for my team and I. <br><br>
            <mark class='b'>The course does an excellent job of providing conceptual frameworks and grounding them with targeted examples and templates. The lessons from this course have already helped my team deliver better for our clients, and I strongly recommend this course to other teams and individuals</mark>."
            
            name = "Justin McKinney"
            image = "/images/testimonials/justin.jpeg"
            title = "Head Of SEO, Wpromote"
          %}  
          
          {% include testimonial.html

            quote = "Tom knows his stuff.<br><br> <mark class='b'>His course helped our team understand how, by understanding the perspective of the budget holder, we can make small tweaks to have big changes in how we can work more effectively with clients</mark>."
            
            name = "Barry Loughran"
            image = "/images/testimonials/barry.jpeg"
            title = "MD Performance Experience, Dentsu"
          %} 

          {% include testimonial.html

            quote = "Tom is the top mind in the world of 'SEO for business'.<br><br>
            <mark class='b'>Some courses might teach you how to fix 404s, but Tom will teach you how to actually get things done and create major change in enterprise organizations. His consulting services have been integral to the growth of 110-person SEO-focused agency.</mark>"
            
            name = "Ross Hudgens"
            image = "/images/testimonials/ross-hudgens.jpeg"
            title = "Founder/CEO, Siege Media"
          %}
        </div>

        <div class="mw7 center ph5-l ph2 w-100 tl lh-copy">
            <h2>About Tom Critchlow</h2>
            <p>I've delivered training for some of the world's biggest companies, been a consultant to brands like The New York Times, Google and Gartner, and helped Fortune-100 companies structure multi-million dollar SEO programs.</p>
            <em>“Tom is a 'CEO Whisperer'. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered."</em>
            <div class="absolute-l bottom-0-l pv3 flex items-center">
              <div class="w-10">
                <img class="br-100" src="/images/jeremy.jpeg" />
              </div>
              <div class="w-75 pl2 avenir">
                <div class="b">Jeremy Cabral</div>
                <div class="">Co-founder & COO, Finder</div>
              </div>
            
            </div>
        </div>
        
    </div>

    </div>

   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  