---
title: SEO MBA Corporate Workshops
subtitle: Level up your team
---

{% include head.html %}

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="maintitle f2 lh-title b">Corporate Workshops</h1>
      <p>Group programs and private cohorts from the SEO MBA</p>
    </div>
    
    <div class="">
      
      <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

        <div class="mw7 center ph5-l ph2 w-100 tl lh-copy">
            <p>
        The SEO MBA course is designed for mid-career and senior SEO professionals who need to improve their business skills, become more confident dealing with senior executives and 
        <br><br>
        Key skills:
        - Create a compelling strategy and vision
        - Create a business model for investing in SEO projects
        - Create compelling executive-ready presenationts
        - Become more effective at getting things Done
                <br><br>
        For more information on the full course curriculum and format <a href="https://seomba.com/executive-presence/">see the course landing page</a>.
        <br><br>

        Want to discuss a corporate workshop or a group discount? Get in touch, book a calendly session or email me: tom@seomba.com
        </p>

        <h2>Option 1: Test & Learn</h2>
        <p>Enroll 1-3 people in the course, paired with a 60-minute session with Tom Critchlow to </p>

        <h2>Option 2: Group Discounts</h2>
        <p>This option</p>

        <h2>Option 3: Private Cohorts</h2>
        <p>This option</p>

        </div>





        <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">
        {% include testimonial.html

            quote = "The SEO MBA course and newsletter has been a game-changer for my team and I. <br><br>
            <mark class='b'>The course does an excellent job of providing conceptual frameworks and grounding them with targeted examples and templates. The lessons from this course have already helped my team deliver better for our clients, and I strongly recommend this course to other teams and individuals</mark>."
            
            name = "Justin McKinney"
            image = "/images/testimonials/justin.jpeg"
            title = "Head Of SEO, Wpromote"
          %}  
          
          {% include testimonial.html

            quote = "Tom knows his stuff.<br><br> <mark class='b'>His course helped our team understand how, by understanding the perspective of the budget holder, we can make small tweaks to have big changes in how we can work more effectively with clients</mark>."
            
            name = "Barry Loughran"
            image = "/images/testimonials/barry.jpeg"
            title = "MD Performance Experience, Dentsu"
          %} 

          {% include testimonial.html

            quote = "Tom is the top mind in the world of 'SEO for business'.<br><br>
            <mark class='b'>Some courses might teach you how to fix 404s, but Tom will teach you how to actually get things done and create major change in enterprise organizations. His consulting services have been integral to the growth of 110-person SEO-focused agency.</mark>"
            
            name = "Ross Hudgens"
            image = "/images/testimonials/ross-hudgens.jpeg"
            title = "Founder/CEO, Siege Media"
          %}
        </div>
        
    </div>

    </div>

   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  