---
title: SEO MBA Courses
subtitle: Business, leadership and communication skills for SEO professionals`
og: https://seomba.com/images/course-og-full.png
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

   

    

  
      
    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="maintitle f2 lh-title b mb0">Courses Designed for SEO Professionals</h1>
      <h2 class="f3 avenir pv0 fw4 mb5">Advance your career with business, leadership and communication skills from the SEO MBA</h2>
    </div>
    
    <div class="flex mw8 center justify-between">

      <div class="w-50 br2 ba b--black-20 pa3 mr4-l bg-white">
        <h2 class="f3 lh-title b mb0 tc">Executive Presence</h2>
        <img class="pa1" src="/images/exec-chip.png"/>
        <div class="avenir f4 lh-copy">
        Designed for senior level SEO professionals who are working with senior stakeholders, whether working in-house or agency-side. This course will help you get budget and buy-in for your work. Take the course and learn:
        <ul>
          <li>Something</li>
          <li>Something</li>
        </ul>
        </div>
      </div>

      <div class="w-50 br2 ba b--black-20 pa3 ml4-l bg-white">
        <h2 class="f3 lh-title b mb0 tc">The Art of Client Management</h2>
        <img class="pa1" src="/images/aocm-chip.png"/>
        
        <div class="avenir f4 lh-copy">
        Designed for agency SEO professionals who work with clients, whether in sales, account management or as a consultant. This course will help you manage expectations, communicate clearly and retain clients more effectively. Take the course and learn:
        <ul>
          <li>Something</li>
          <li>Something</li>
        </ul>
        </div>
      </div>



    </div>
   
  {% include footer.html %}



        
       
      


      
                
      
    
    
  