---
title: SEO MBA Courses
subtitle: Business, leadership and communication skills for SEO professionals`
og: https://seomba.com/images/course-og-full.png
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

   

    

  
      
    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="maintitle f2 lh-title b mb0">Courses Designed for SEO Professionals</h1>
      <h2 class="f3 avenir pv0 fw4 mb5">Advance your career with business, leadership and communication skills from the SEO MBA</h2>
    </div>
    
    <div class="flex-l w-90 mw8 center justify-between">

      <div class="w-50-l w-100 br2 ba b--black-20 ph4 pt2 pb4 mr4-l bg-white mb4">
        <div class="flex items-center h4-l">
          <h2 class="w-100 f2 lh-title b mb3 mt0 tc">Executive Presence</h2>
        </div>
        
        <img class="pt1 pb3" src="/images/exec-chip.png"/>
        <div class="avenir f4 lh-copy">
        Designed for senior level SEO professionals who are working with senior stakeholders, whether working in-house or agency-side.<br><br> This course will help you get budget and buy-in for your work. Take the course and learn how to:
        <ul>
          <li class="pv2">Create buy-in & budget for your work</li>
          <li class="pv2">Communicate effectively with senior stakeholders</li>
          <li class="pv2">Build a business case for your projects</li>
          <li class="pv2">Work cross-functionally to get things done</li>
        </ul>
        <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 mr3 grow">
          <a class="w-100 db link seomba-light cormorant tc lh-title" href="/executive-presence/">Learn More</a>
      </div>
        </div>
      </div>

      <div class="w-50-l w-100 br2 ba b--black-20 ph4 pt2 pb4 ml4-l bg-white mb4">
        <div class="flex items-center h4-l">
        <h2 class="w-100 f2 lh-title b mb3 mt0 tc">The Art of Client Management</h2>
      </div>
        <img class="pt1 pb3" src="/images/aocm-chip.png"/>
        
        <div class="avenir f4 lh-copy">
        Designed for agency SEO professionals, whether sales, account managers or consultants.<br><br>This course will help you manage expectations, and retain clients more effectively. Take the course and learn how to:
        <ul> 
          <li class="pv2">Manage client expectations</li>
          <li class="pv2">Build trusted long-term relationships with clients</li>
          <li class="pv2">Tie your recommendations to business value</li>
          <li class="pv2">Retain and upsell clients more effectively</li>
        </ul>
        <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 mr3 grow">
          <a class="w-100 db link seomba-light cormorant tc lh-title" href="/client-management/">Learn More</a>
      </div>
        </div>
      </div>



    </div>

    <div class="w-100 bg-seomba-dark center pv4">
    
    {% include bundle.html %}
  
  </div>
   
  {% include footer.html %}



        
       
      


      
                
      
    
    
  