---
---

{% include head.html %}

<!-- Include the CSS & JS.. (This could be direct from the package or bundled) -->
<link rel="stylesheet" href="/css/lite-yt-embed.css" />

<script src="/js/lite-yt-embed.js"></script>

<!-- Use the element. You may use it before the lite-yt-embed JS is executed. -->


<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}
      

    <div class="center mw9 w-90 center pv4-l flex-l ph0-l ph3">
  
      <div class="center mw8 f1 lh-title">Become a more confident and effective SEO professional</div>

      <div class="w-50-l relative pr4-l">
        <p class="f4 lh-copy">
          Learn how to be more effective and more confident at presenting to executives and  getting things done.
        </p>
      </div>
      
            <div class="w-50-l  center pl4-l mt4">
              <script src="https://fast.wistia.com/embed/medias/uqao3g3o3v.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_uqao3g3o3v videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/uqao3g3o3v/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
      </div>
  </div>
  
  <div class="bg-white w-100 pv4">
    
      </div>
   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  