---
title: Learn Executive Presence Live - Cohort #1
subtitle: Become a more confident and effective SEO professional
og: https://seomba.com/images/course-og-full.png
---

{% include head.html %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Course",
    "name": "Executive Presence",
    "description": "Business & communication skills for SEO professionals.",
    "provider": {
      "@type": "Organization",
      "name": "The SEO MBA",
      "sameAs": "https://seomba.com"
    }
  }
  </script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

    
<style>
    @media screen and (min-width: 60em){

      .stickycta{
    position:sticky;
    top:40px;
  }
}
  
</style>


<div class="mw9 ph5-l center mt4 ph2">


  <h1 class="f1 maintitle mt5 mb2 mw7 center tc">Become a more <span class="red i">confident</span> and <span class="red i">effective</span> SEO professional</h1>
  <div class="avenir black-60 tc f3 mt3 mb5">A live (online) Executive Presence cohort</div>

  <div class="flex flex-nowrap-l flex-wrap-reverse ph5-l center">

<div class="w-60-l ph2 ph0-l pr5-l mv4 mv0-l">


<div class="f3 avenir lh-copy">
  The first live cohort for the SEO MBA course on Executive Presence:
  <ul>
    <li>Weekly live video sessions</li>
    <li>Join a community of peers</li>
    <li>Packed with real examples & case studies</li>
    <li>SEO financial model template</li>
    <li>Full SEO strategy presentation example</li>
    <li>3 practice scenarios</li>
  </ul>
</div>

<section class="f4 pv5">
<h2 class="f1 lh-solid cormorant">Become a more <span class="red i">confident</span> and more <span class="red i">effective</span> SEO professional.</h2>
<p class="lh-copy">The biggest challenge for SEO professionals is not knowing <span class="b i">what to do</span>, it's knowing <span class="b i">how to get it done</span>. Do you recognize any of these?
<br>
<br>- Difficulty getting buy-in and budget from executives
<br>- Challenges demonstrating the value of SEO
<br>- Lacking confidence presenting SEO to the C-suite
<br>- Not getting the resources you need to get things done
<br><br>
You're not alone, industry surveys consistently rate buy-in and influence as the biggest challenge:</p>
  <ul class="lh-copy">
    <li class="pv2">43% of SEO cite lack of buy-in or resources as the biggest risk to SEO success</li>
    <li class="pv2">The top 5 SEO challenges are all resource and execution challenges</li>
    <li class="pv2">The average SEO at a big company has been waiting over six months for their highest priority technical change</li>
  </ul>
<p class="lh-copy">SEO fundamentally requires other teams to invest <span class="b i">their resources</span> in <span class="b i">our projects</span>, whether it's the product, engineering marketing or editorial teams.
  <br><br>
  This course isn't about technical audits or keyword research. This course focuses on the business, leadership and consulting skills that you need to be more effective in your job and operate at more senior levels of business.</p>
</section>

<section class="f4 pv5">
<h2 class="f1 lh-solid cormorant">For SEOs who want to level up their career</h2>

<p class="lh-copy">For in-house SEOs who need to manage cross-functional projects, engage senior stakeholders and gain budget, buy-in and influence within their organization.</p>

<p class="lh-copy">For agency SEOs who are working with large clients and need to persuade clients to actually implement their recommendations.</p>

<p class="lh-copy">After completing the course you'll be able to:</p>

<div class="flex-l mw8 center f4 flex-wrap tl pt3">

  <div class="flex pb4">
    
    <div class="w-10">
      <img class="w2" src="/images/check-mark.png" />
    </div>
    <div class="">
      Get buy-in and secure resources for strategic SEO initiatives
    </div>
  </div>

  <div class="flex pb4">
    
    <div class="w-10">
      <img class="w2" src="/images/check-mark.png" />
    </div>
    <div class="">
      Build a business case for SEO initiatives and a full financial model

    </div>
  </div>

  <div class="flex pb4">
    
    <div class="w-10">
      <img class="w2" src="/images/check-mark.png" />
    </div>
    <div class="">
      Create effective, compelling presentations for senior executives and the C-suite
          </div>
  </div>

  <div class="flex pb4">
    
    <div class="w-10">
      <img class="w2" src="/images/check-mark.png" />
    </div>
    <div class="">
      Work cross functionally to get things done inside large organizations      </div>
  </div>

</div>
</section>

<section class="f4 pv5">
  <h2 class="f1 lh-solid cormorant">What You'll Learn</h2>

  <div class="pa3 ba b--black-20 br2 bg-white tl center mb4">
    <h3 class="f3 mt0 mb3"><span class="fw4 seomba-red-accent cormorant-number">Week 1: </span> Good SEO Strategy</h3>
    <div class="avenir mb3 f4 lh-copy">
      Learn how to create an effective SEO strategy that's more than just a list of things you want to get done. Learn how to create compelling strategies that are credible and aligned with stakeholders.
    </div>
  </div>
  <div class="pa3 ba b--black-20 br2 bg-white tl center mb4">
    <h3 class="f3 mt0 mb3"><span class="fw4 seomba-red-accent cormorant-number">Week 2: </span> The Value of SEO</h3>
    <div class="avenir mb3 f4 lh-copy">
      Learn how to connect SEO to business value and revenue, including hard to measure projects like link building. Deepen your appreciation for business models and how they dictate what gets funded.
    </div>
  </div>    
  <div class="pa3 ba b--black-20 br2 bg-white tl center mb4">
    <h3 class="f3 mt0 mb3"><span class="fw4 seomba-red-accent cormorant-number">Week 3: </span> Investment Models</h3>
    <div class="avenir mb3 f4 lh-copy">
Learn how to create a financial investment plan and business model for large initiatives. Understand how to manage stakeholders to get buy-in and get key information to create compelling financial models.
    </div>
  </div>    
  <div class="pa3 ba b--black-20 br2 bg-white tl center mb4">
    <h3 class="f3 mt0 mb3"><span class="fw4 seomba-red-accent cormorant-number">Week 4: </span> Effective Business Presentations</h3>
    <div class="avenir mb3 f4 lh-copy">
      Learn how to structure clear communication, from writing emails to full strategy presentations. Get comfortable at managing upwards and put together a strategy presentation the same way McKinsey does.
    </div>
  </div>    
  <div class="pa3 ba b--black-20 br2 bg-white tl center mb4">
    <h3 class="f3 mt0 mb3"><span class="fw4 seomba-red-accent cormorant-number">Week 5: </span> Getting Things Done</h3>
    <div class="avenir mb3 f4 lh-copy">
      Learn how to find alignment with other teams, manage resource asks and navigate organizational politics. Improve your communication with senior stakeholders and find out why pre-agreeing is essential to getting buy-in and budget.
    </div>
  </div>          
  

  </section> 

<section class="f4 pv5">
  <h2 class="f1 lh-solid cormorant">What People Say</h2>

  <div class="cormorant f3 pa4 ma4-l mv2 bg-white ba b--black-10 lh-title">
    <span class="i b">“The course ended last week and it has already helped our entire agency communicate better and close 2 high quality six-figure deals.”</span>
    <div class="tr mt3">
      <img class="h2 dib v-mid br-100" src="https://seomba.com/images/leigh.jpeg"/>
      <div class="dib tr avenir f5">Leigh Wasson, Chief Marketing Officer, Supreme Optimization</div>
    </div>
  </div>

  <div class="cormorant f3 pa4 ma4-l mv2 bg-white ba b--black-10 lh-title">
    <span class="i b">“I highly recommend this course to SEOs who are looking to level up their strategic skills. Tom shares processes and examples that are applicable to those client-side, agency-side and solo consultants. It’s extremely actionable and includes lots of learnings that I embedded in my day to day work.
      <br><br>
      Most importantly, I now feel much more confident presenting my SEO vision to leadership and executive teams.”</span>
    <div class="tr mt3">
      <img class="h2 dib v-mid br-100" src="https://seomba.com/images/areej.jpeg"/>
      <div class="dib tr avenir f5">Areej AbuAli, Founder of Crawlina, Creator of Women in Tech SEO</div>
    </div>
  </div>

  <div class="cormorant f3 pa4 ma4-l mv2 bg-white ba b--black-10 lh-title">
    <span class="i b">“Tom Critchlow's SEO MBA course is one of the very few SEO courses that are worth 10x the cost. If you're interested in stepping out of the weeds to get buy-in with decision-makers at the executive level, this is a must-take course.”</span>
    <div class="tr mt3">
      <img class="h2 dib v-mid br-100" src="https://seomba.com/images/testimonials/greg.jpeg"/>
      <div class="dib tr avenir f5">Greg Bernhardt, Senior SEO Strategist, Shopify</div>
    </div>
  </div>  

  <div class="cormorant f3 pa4 ma4-l mv2 bg-white ba b--black-10 lh-title">
    <span class="i b">“The course does an excellent job of providing conceptual frameworks and grounding them with targeted examples and templates. The lessons from this course have already helped my team deliver better for our clients, and I strongly recommend this course to other teams and individuals.”</span>
    <div class="tr mt3">
      <img class="h2 dib v-mid br-100" src="https://seomba.com/images/testimonials/justin.jpeg"/>
      <div class="dib tr avenir f5">Justin McKinney, Head Of SEO, Wpromote</div>
    </div>
  </div>    
  
  <p>Need more? See <a href="https://seomba.com/executive-presence-testimonials/">over 30 testimonials for the course here</a>.</p>

  </section>

<section class="f4 pv5">
<h2 class="f1 lh-solid cormorant mb0">The Cohort Experience: Choose the time that works for you</h2>
<p class="lh-copy">The live cohort runs for 5 weeks. Every week there are two sessions - one on Monday and one on Wedensday.</p>
<p class="lh-copy">The Monday session is for live instruction and discussion where we'll explore the learning, show examples and have room for discussion. The Wedensday session is studio time which means there will be examples, exercises and working sessions to apply the learning either solo or in groups.</p>
<p class="lh-copy">There are two times available every week - 9am ET and 3pm ET - to make it accessible to a variety of time zones and schedules. Choose the option that suits your needs, or join whichever session works for you that week.</p>

<div class="f4 b pt3 pb2">Two live sessions every week</div>
<div class="flex flex-wrap flex-nowrap-l justify-between mb4">
  <div class="w-50-l w-100 bg-washed-green ba b--black-10 pa2 flex items-center mv2 mr2-l">
    <img class="h2 mr3" src="/images/graduation-hat.png" />
    <div>
      <span class="f3 b cormorant">Live Instruction</span>
      <div class="f5">Option 1: Monday 9am (ET)</div>
      <div class="f5">Option 1: Monday 3pm (ET)</div>
    </div>
  </div>
  <div class="w-50-l w-100 bg-washed-green ba b--black-10 pa2 flex items-center mv2 ml2-l">
    <img class="h2 mr3" src="/images/notes.png" />
    <div>
      <span class="f3 b cormorant">Studio Session</span>
      <div class="f5">Option 1: Wednesday 9am (ET)</div>
      <div class="f5">Option 2: Wednesday 3pm (ET)</div>
    </div>
  </div>  
</div>

<p class="lh-copy">Join whichever time suits your schedule better - and if you need to swap between times every week to ensure you can fit the course into your schedule!</p>

<div class="f4 b pt3 pb2">An exclusive Slack community</div>

<div class="w-100 bg-near-white ba b--black-10 pa2 flex items-center mv4">
  <img class="h2 mr3" src="/images/Slack_icon_2019.svg" />
  <div>
    <span class="b">A shared Slack group for Q&A, peer learning and group discussion</span></div>
</div>  

<p class="lh-copy">Can't make this schedule work for you? Check out <a href="https://seomba.com/executive-presence/">the self paced course</a>.</p>

<details>
  <summary>Show me the time zone calculator</summary>
  <table class="ba b--black-20 br2 f5 w-100 mv3">
    <thead>
      <tr>
        <th class="tl pa2">Time Zone</th>
        <th class="tc pa2 ">Morning Timezone</th>
        <th class="tc pa2">Afternoon Timezone</th>
      </tr>
    </thead>
    <tbody>
      <tr class="stripe-dark">
        <td class="pa2 ">US - ET</td>
        <td class="pa2 tc">9:00 am</td>
        <td class="pa2 tc">3:00 pm</td>
      </tr>
      <tr class="stripe-dark">
        <td class="pa2 ">US - CT</td>
        <td class="pa2 tc">8:00 am</td>
        <td class="pa2 tc">2:00 pm</td>
      </tr>
      <tr class="stripe-dark">
        <td class="pa2 ">US - PT</td>
        <td class="pa2 tc">6:00 am</td>
        <td class="pa2 tc">12:00 pm</td>
      </tr>
      <tr class="stripe-dark">
        <td class="pa2 ">UK (GMT+1)</td>
        <td class="pa2 tc">2:00 pm</td>
        <td class="pa2 tc">8:00 pm</td>
      </tr>
      <tr class="stripe-dark">
        <td class="pa2 ">SYD (AEST)</td>
        <td class="pa2 tc">11:00 pm</td>
        <td class="pa2 tc">5:00 am</td>
      </tr>
    </tbody>
  </table>
  
<p class="lh-copy">Note: daylight savings time has already switched in the US, but changes soon in the UK and other places. The above time zones are calculated to be accurate for the dates of the cohort, not for today (hopefully!). Look up the <a target="_blank" href="https://everytimezone.com/s/f80b0905">morning timezone here</a> and the <a target="_blank" href="https://everytimezone.com/s/0788c6f1">afternoon time zone here</a>.</p>
</details>

</section>


<section class="f4 pv5">
  <h2 class="f1 lh-solid cormorant mb0">A course with immediate impact</h2>
  <p class="lh-copy">The course is designed to be immediately applicable. The weekly assignments are not theoretical exercises, but rather they're prompts and exericses that <em>you can apply to real projects</em>. Come with a strategy that you need to work on and leave the course with a more credible and compelling strategy.</p>
  <p class="lh-copy"><em>Plus, included in the course:</em></p>
    <div class="flex flex-wrap flex-nowrap-l items-center">
      <div class="w-50-l">
        <p class="lh-copy"><span class="b">Essential Templates</span>.<br><br>Three SEO investment model spreadsheets and a full SEO strategy presentation template.</p>
      </div>
      <div class="w-50-l w-75 center ml3">
        <img src="/images/templates.png"/>
      </div>
      
    </div>
    <div class="flex flex-wrap flex-nowrap-l items-center">
      <div class="w-50-l">
        <p class="lh-copy"><span class="b">3 Practice Scenarios</span>.<br><br>Full simulated examples with problems and answers to apply the knowledge from the course. Brain teasers to test your skills or prepare for an interview.</p>
      </div>
      <div class="w-50-l w-75 center ml3">
        <img src="/images/cases.png"/>
      </div>
      
    </div>    
    
  
  

  </section>
 

<section class="f4 pv5">
  <h2 class="f1 lh-solid cormorant mb0">Hi, I'm Tom Critchlow</h2>
  <div class="flex flex-wrap flex-nowrap-l">
    <div class="w-two-thirds-l">
      <p class="lh-copy">I've worn many hats in my career - working in-house, agency-side and as an independent consultant. I've worked with clients like the New York Times, Etsy, Dotdash & Google.</p>
      <p class="lh-copy">My work is currently 100% focused on working with CEOs and executive teams and I see first hand the challenges SEO professionals face in getting their work the buy-in, budget and resources it needs.</p>
      <p class="lh-copy">In my consulting work, I've helped companies structure large scale SEO investments and led hiring for senior SEO roles.</p>
      <p class="lh-copy">What I've seen is that there's a big skills gap in the market for technically competent SEOs to gain crucial business skills in order to operate at the most senior levels of business.</p>
    </div>
    <div class="w-third-l pt3 pl3 ma0-l ma4 center">
      <img class="shadow-1" src="/images/tom-and-indy.jpg" />
    </div>
  </div>

  
  

  </section>



 



</div>

<div class="w-40-l ml5-l">

<div class="stickycta ba br2 bg-seomba-dark seomba-light b--black-10 shadow-4 pa3 ma2">
  <div class="flex items-center justify-between">
    <div class="f2 cormorant b">Enroll today</div>
    <div class="f3"><span class="f5">$</span>1,299</div>
  </div>
  <div class="ttu avenir f5 mv3"><span class="seomba-red">COHORT #1</span>: 5 weeks - starts April 24th</div>
  <div class="pv3">
  <p>A 5 week learning experience with a small cohort and flexible times.</p>
  <p>Live sessions every week on Mon & Wed with two chances to join either 9am (et) or 3pm (et).</p>
  <p class="i">Spaces limited. Last day to enroll: April 21st</p>
</div>
<div class="bg-seomba-red shadow-1 br2 f4 tc pa3 ph4 mt3">
    <a class="w-100 db link seomba-light b tc" href="#pricing">Enroll Today</a>
</div>


</div>

</div>

</div>

<section class="f4 mv4 tc" id="pricing">
  <h2 class="f1 cormorant mb0">Cohort Pricing</h2>
    <p class="ttu f5 mb4">Cohort #1: April 24th - May 24th 2023</p>

  <div class="flex flex-wrap flex-nowrap-l mw8 center ph0-l ph2">

    <div class="w-50-l w-100 tl pa4 bg-seomba-dark seomba-light br2 mr4-l shadow-1 mv4">
      <h2 class="cormorant f1 mv2">Live Cohort</h2>
  
      <div class="i">Join the 5 week interactive live cohort and become more confident and effective. Plus, get access to the slack group and templates.</div>
      
      <div class="flex items-center justify-center mv4">
        <div class="f2 avenir mr4"><span class="f4">$</span>1,299</div>
      <div class="bg-seomba-red shadow-1 grow br2 f4 tc pa3 ph4">
        <a class="w-100 db link seomba-light b tc" href="#pricing">Enroll Today</a>
    </div>
      </div>
      

    What's included:

      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Two live sessions every week</span>. Plenty of time for instruction, discussion and interactive exercises.</div>
      </div> 
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Slack group.</span> Join peers for feedback, discussion and peer learning</div>
      </div>
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Real work templates.</span> Get the full SEO presentation template, business model spreadsheet and kickoff questions document.</div>
      </div>
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Access to the full video course.</span> Get access to the full video course for future reference.</div>
      </div> 
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/red-x.svg"/></div>
        <div class="w-100 white-50"><span class="b">1:1 coaching.</span> Schedule a private 45-min 1:1 session with Tom Critchlow.</div>
      </div>                   
  
    </div>


    <div class="w-50-l w-100 tl pa4 bg-seomba-dark seomba-light br2 ml4-l shadow-1 mv4">
      <h2 class="cormorant-number f1 mv2">Cohort + 1:1 Coaching</h2>
  
      <div class="i">Join the 5 week interactive live cohort, plus schedule a private 45-min 1:1 coaching session with Tom Critchlow during the course.</div>
      
      <div class="flex items-center justify-center mv4">
        <div class="f2 avenir mr4"><span class="f4">$</span>1,499</div>
      <div class="bg-seomba-red shadow-1 grow br2 f4 tc pa3 ph4">
        <a class="w-100 db link seomba-light b tc" href="#pricing">Enroll Today</a>
    </div>
      </div>
      

    What's included:

      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Two live sessions every week</span>. Plenty of time for instruction, discussion and interactive exercises.</div>
      </div> 
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Slack group.</span> Join peers for feedback, discussion and peer learning</div>
      </div>
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Real work templates.</span> Get the full SEO presentation template, business model spreadsheet and kickoff questions document.</div>
      </div>
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Access to the full video course.</span> Get access to the full video course for future reference.</div>
      </div> 
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">1:1 coaching.</span> Schedule a private 45-min 1:1 session with Tom Critchlow.</div>
      </div>                   
  
    </div> 


  </div>

 

  </section>

  <div class="pv5 mw8 center ph3 ph0-l">
    <h2 class="w-100 center tc f2 mb0">FAQ</h2>
  
    <details>
      <summary>What if I have to miss some of the live sessions?</summary>
      <div class="pa3 bg-white">In addition to the live sessions you'll get access to the full video course so you can always catch up and take part in the course if you miss a session. That said - you'll get the most out of the course if you can join the live sessions!</div>
    </details>

    <details>
      <summary>What is the difference between live instruction and studio sessions?</summary>
      <div class="pa3 bg-white">The live instruction sessions (Mondays) are designed to help learn new concepts, develop mental models and skills and learn the ideas from the course. The studio sessions (Wednesdays) are designed to give you time to practice and apply the skills from the course to really make sure the ideas stick and so you can learn how to apply them to your own work.</div>
    </details>
  
    <details>
      <summary>Can I get my company to pay for this?</summary>
      <div class="pa3 bg-white">I hope so! Many organizations have L&D, training and professional development budgets that you can use to help pay for the course. Feel free to put your manager in touch with me!</div>
    </details>   
    
    <details>
      <summary>Can I pay by invoice?</summary>
      <div class="pa3 bg-white">Sure thing. Send me an email: tom@seomba.com and I'll get you set up.</div>
    </details>    
    
    <details>
      <summary>I work on small business SEO. Is this course for me?</summary>
      <div class="pa3 bg-white">While the course content should be useful and applicable to everyone, it's geared towards SEOs working with medium and large organizations where business skills, investment models and presentations are most impactful.</div>
    </details>  
  
    <details>
      <summary>Will this course share any advanced technical SEO?</summary>
      <div class="pa3 bg-white">No. In fact, there's very little "SEO advice" in the whole course. The focus is specifically on developing the business, leadership and consulting skills that you need to become a more senior SEO professional, not tips and tricks.</div>
    </details>   
    
    <details>
      <summary>Do I get a certificate when I complete the course?</summary>
      <div class="pa3 bg-white">Yes! You'll receive a digital certificate when you complete the course materials.</div>
    </details>           
  
    <details>
      <summary>I have more questions...</summary>
      <div class="pa3 bg-white">Ok! Shoot me an email: tom@seomba.com</div>
    </details>      
  
  <p class="tc">The SEO MBA contributes 1% of revenue to carbon removal. <a href="https://climate.stripe.com/ob3VSo">See more info here</a>.</p>
  
  </div>

</div>


   
{% include footer.html %}
        
    

      
                
      
    
    
  