---
title: Learn Executive Presence Live - Cohort #1
subtitle: Become a more confident and effective SEO professional
og: https://seomba.com/images/course-og-full.png
---

{% include head.html %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Course",
    "name": "Executive Presence",
    "description": "Business & communication skills for SEO professionals.",
    "provider": {
      "@type": "Organization",
      "name": "The SEO MBA",
      "sameAs": "https://seomba.com"
    }
  }
  </script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

    
<style>
  .stickycta{
    position:sticky;
    top:40px;
  }
</style>


<div class="flex mw9 ph5-l center">

  <div class="ph5-l center">

<div class="w-70-l pr4-l">

<h1 class="f1">Executive Presence - Live Course</h1>




<h2 class="f2 cormorant mt0">The biggest challenge for SEO professionals is not knowing <em>what</em> to do, it's knowing <span class="red"><em>how to get it done</em></span></h2>
<p">
  Recognize any of these?
  <br>
  <br><mark><em>- Difficulty getting buy-in and budget from executives</em></mark>
  <br><mark><em>- Challenges demonstrating the value of SEO</em></mark>
  <br><mark><em>- Lacking confidence presenting SEO to the C-suite</em></mark>
  <br><mark><em>- Not getting the resources you need to get things done</em></mark>
  <br><br>
  The #1 challenge for SEO professionals is not technical know-how, but knowing how to get buy-in and budget. Industry surveys consistently rate it as the biggest challenge:
  <br><br>
  <em>“The top 5 challenges are all SEO resource and execution challenges”</em> - <span class="f5"><a href="https://www.aleydasolis.com/en/search-engine-optimization/how-to-winning-seo-website-audit-growth/">source</a></span>
  <br><br>
  <em>“The average SEO at a big company has been waiting over six months for their highest priority technical change and doesn’t anticipate seeing it deployed for at least another six months”</em> - <span class="f5"><a href="https://moz.com/blog/how-long-are-seos-waiting-for-their-most-important-changes">source</a></span>
  <br><br>
  <em>“43% of people cite lack of buy-in or resources as the biggest risk to SEO success.”</em> - <span class="f5"><a href="https://aira.net/state-of-technical-seo/the-impact-of-technical-seo/">source</a></span>
<br><br>
  SEO fundamentally requires other teams to invest <em>their</em> resources in our projects, whether it's the product, marketing or editorial team.
<br><br>
  
  This course isn't about technical audits or keyword research. This course focuses on the business, leadership and consulting skills that you need to be more effective in your job and operate at more senior levels of business.</p>

</div>

<div class="w-30-l">

<div class="stickycta ba br2 bg-white b--black-10 shadow-5 pa2 ma2">
  <h2>Enroll today</h2>

</div>

</div>


</div>
</div>


   
{% include footer.html %}
        
    

      
                
      
    
    
  