---
---

{% include head.html %}

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}
      
    <div class="w-100 center ph4-l tc"><h1 class="maintitle lh-title b">Become a more <span class="i red">confident</span> and <span class="i red">effective</span> <br class="dn db-l">SEO professional</h1></div>
    
    
    <div class="center mw9 w-90 center pv4-l flex-l ph0-l ph3">      

      <div class="w-50-l relative pr4-l">

        <p class="f4 lh-copy">
          The SEO MBA course on Executive Presence includes:
          <ul class="pa2">
            <li class="pv2">5+ hours of videos</li>
            <li class="pv2">Real examples and case studies</li>
            <li class="pv2">Financial Model template</li>
            <li class="pv2">Full SEO strategy presentation</li>
            <li class="pv2">3 McKinsey style cases</li>
            <li class="pv2">Guided emails, assignments and further resources</li>
          </ul>
        </p>
        <div class="bg-seomba-red shadow-1 br2 f3 tc pa2 grow"><a class="w-100 db link white tc" href="#">Enroll Today!</a></div>
      </div>
      
            <div class="w-50-l  center pl4-l">
              <script src="https://fast.wistia.com/embed/medias/uqao3g3o3v.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_uqao3g3o3v videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/uqao3g3o3v/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
      </div>
  </div>
  
<div class="w-100 bg-seomba-dark tc">
  <p class="seomba-light pv5 ph3 measure f3 cormorant center">“Tom Critchlow's SEO MBA course is one of the very few SEO courses that are worth <span class="baskerville">10x</span> the cost. If you're interested in stepping out of the weeds to get buy-in with decision-makers at the executive level, this is a must-take course. <br><br>Tom's vast experience, impactful examples, and data-driven lessons ensure your SEO career gets leveled up.”
<br><br>
<span class="avenir f5">Greg Bernhardt - Senior SEO Strategist, Shopify</span></p>

</div>

  <div class="bg-seomba w-100 pv4 mw7 center tc">

    <h2 class="f2 cormorant center tc">The biggest challenge for SEO professionals is not knowing <em>what</em> to do, it's knowing <span class="red"><em>how to get it done</em></span></h2>
    <p>SEO fundamentally requires other teams to invest their resources in SEO, so getting SEO is a challenge.</p>


      </div>




<div class="w-100 bg-seomba center flex-l justify-center z-0 relative">

  <div class="testimonial bg-white shadow-1 pa3 ma4 w-25-l relative cormorant">
    <h1 class="f-subheadline ma0 pa0">“</h1>
<p class="f4">Tom really understands the nuances of speaking to executives. He's created a course that will help any strategy minded marketer communicate their ideas and get buy-in from their clients or leadership.</p>
<div class="testimonialshadow"></div>
  </div>

  <div class="testimonial bg-white shadow-1 pa3 ma4 w-25-l relative cormorant">
    <h1 class="f2">“</h1>
<p class="f4">I was part of the SEO MBA beta cohort and I highly recommend this course to SEOs who are looking to level up their strategic skills. <br><br> Tom shares processes and examples that are applicable to those client-side, agency-side and solo consultants. It’s extremely actionable and includes lots of learnings that I embedded in my day to day work. Most importantly, I now feel much more confident presenting my SEO vision to leadership and executive teams.</p>
<div class="testimonialshadow"></div>
  </div>

  <div class="testimonial bg-white shadow-1 pa3 ma4 w-25-l relative cormorant">
    <h1 class="f2">“</h1>
<p class="f4">Tom really understands the nuances of speaking to executives. He's created a course that will help any strategy minded marketer communicate their ideas and get buy-in from their clients or leadership.</p>
<div class="testimonialshadow"></div>
  </div>
  

</div>      
   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  