---
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}


    <stickynavtest class="bl br bb b--seomba-blue br2 br--bottom bg-seomba-red">
      <div class="pa2 w-10">Enroll Today</div>
    </stickynavtest>

    <style>
    stickynavtest {
        position: fixed;
        top: 0;
        right: 5%;
        transform: translateY(-100%);
        transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
        z-index:1;
    }

    body.down stickynavtest {
        transform: translateY(0);
    }
    </style>

    <script>
          $(document).ready(function() {
        var $header = $("stickynavtest"),
            $clone = $header.before($header.clone().addClass("clone"));
        
        $(window).on("scroll", function() {
            var fromTop = $(window).scrollTop();
            $("body").toggleClass("down", (fromTop > 800));
        });
    });
    </script>

    <!-- Sticky buy now from here http://jsfiddle.net/ianclark001/wELFH/147/ -->
      
    <div class="w-100 center ph4-l tc"><h1 class="maintitle f2 lh-title b">Become a more <span class="i red">confident</span> and <span class="i red">effective</span> <br class="dn db-l">SEO professional</h1></div>
    
    
    <div class="center mw9 w-80 center pv4-l flex-l ph0-l ph3">      

      <div class="w-50-l relative pr3-l f4">

        <p class="lh-copy mt0">
          The SEO MBA course on Executive Presence includes:
          <ul class="pl3">
            <li class="pv1">5+ hours of videos</li>
            <li class="pv1">Real examples and case studies</li>
            <li class="pv1">Financial Model template</li>
            <li class="pv1">Full SEO strategy presentation</li>
            <li class="pv1">3 McKinsey style cases</li>
            <li class="pv1">Guided emails, assignments and further resources</li>
          </ul>
        </p>
        <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 grow">
          <a class="w-100 db link white tc" href="#pricing">Enroll Today!</a>
        </div>
        Or, <a href="#herotestimonial">Learn more</a>
      </div>
      
            <div class="w-50-l  center">
              <script src="https://fast.wistia.com/embed/medias/uqao3g3o3v.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_uqao3g3o3v videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/uqao3g3o3v/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
      </div>
  </div>
  
<div class="w-100 bg-seomba-dark tc" id="herotestimonial">
  <p class="seomba-light pv5 ph3 measure f3 cormorant center">“Tom Critchlow's SEO MBA course is one of the very few SEO courses that are worth <span class="baskerville">10x</span> the cost. If you're interested in stepping out of the weeds to get buy-in with decision-makers at the executive level, this is a must-take course. <br><br>Tom's vast experience, impactful examples, and data-driven lessons ensure your SEO career gets leveled up.”
<br><br>
<span class="avenir f5">Greg Bernhardt - Senior SEO Strategist, Shopify</span></p>

</div>

  <div class="bg-seomba w-100 pv5 mw7 center tc">

    <h2 class="f2 cormorant center tc mt0">The biggest challenge for SEO professionals is not knowing <em>what</em> to do, it's knowing <span class="red"><em>how to get it done</em>.</span></h2>
    <p class="measure center tl f lh-copy">
      SEO fundamentally requires other teams to invest <em>their</em> resources in SEO. This is why the number one challenge for SEO professionals is not what to do, but navigating companies and clients to get things done.
    <br><br>
      Stop me if you recognize any of these:
      <br><em>Difficulty getting buy-in and budget from executives</em>
      <br><em>Challenges demonstrating the vale of SEO</em>
      <br><em>Lacking confidence presenting SEO to the C-suite</em>
      <br><em>Not getting the resources you need to get things done</em>
      <br><br>
      This course doesn't contain anything about SEO best practices, technical analysis or keyword research. This course focuses on the business, leadership and consulting skills that you need to be more effective in your job and operate at more senior levels of business.</p>
      </div>



<div class="w-100 bg-white pv5 bt bb b1 b--black-20 center tc">

  <h1 class="cormorant">For SEOs who want to be more <span class="red"><em>effective</em></span></h1>

  <div class="flex-l mw8 center tl">

    <div class="w-50-l pa3 mr4-l lh-copy ba b--black-20 shadow-1">
      <h2 class="avenir f3 fw6">In-house SEO Professionals</h2>
      <p>You're constantly fighting for resources and getting your projects prioritized. Persuading your company to invest in SEO is an ongoing challenge.</p>
      <p><strong>After 5 weeks you'll:</strong>
      <ul>
        <li>Be able to tie SEO to business value</li>
        <li>Feel more confident advocating for resources</li>
        <li>Have a full strategy presentation to invest in SEO</li>
      </ul>
      </p>
    </div>
  
      <div class="w-50-l pa3 ml4-l lh-copy  ba b--black-20 shadow-1">
        <h2 class="avenir f3 fw6">Agency SEO Consultants</h2>
        Something
  
      </div>

    
  

  </div>   

  

  <div class="flex-l mw8 center f4 flex-wrap tl pv5">

    <h3 class="w-100 avenir fw6">What you'll learn</h2>

    <div class="w-50 flex pb3">
      
      <div class="w-10">
        <img class="w2" src="/images/check-mark.png" />
      </div>
      <div class="w-75-l">
        How to create buy-in and secure resources for strategic SEO initiatives
      </div>
    </div>

    <div class="w-50 flex pb3">
      
      <div class="w-10">
        <img class="w2" src="/images/check-mark.png" />
      </div>
      <div class="w-75-l">
        How to model SEO investments and initiatives and create a business case

      </div>
    </div>

    <div class="w-50 flex pb3">
      
      <div class="w-10">
        <img class="w2" src="/images/check-mark.png" />
      </div>
      <div class="w-75-l">
        How to create effective, compelling presentation for senior executives and the c-suite
            </div>
    </div>

    <div class="w-50 flex pb3">
      
      <div class="w-10">
        <img class="w2" src="/images/check-mark.png" />
      </div>
      <div class="w-75-l">
        How to work cross functionally to get things done inside large organizations      </div>
    </div>

  </div>

</div>   



<div class="w-80 mw9 center flex-l flex-wrap justify-center pv5">
  
  <h2 class="w-100 center tc f2 mb0">5 Weeks of Intensive Learning with Weekly Assignments</h2>
  <h3 class="w-100 avenir tc f3 mt2 fw4 pb4">Follow the weekly program or learn at your own pace</h3>
  
  <div class="w-50-l w-100 pr4-l avenir">

    <div class="ba b--black-50 mb4 pa3">
      <div class="f4 fw6">Week 1: Good SEO Strategy</div>
      <p>Learn how to create an effective SEO strategy that's more than just a list of things you want to get done. Learn how to create compelling strategies that are credible and aligned with stakeholders.</p>
    </div>

    <div class="ba b--black-50 mb4 pa3">
      <div class="f4 fw6">Week 2: The Value of SEO</div>
      <p>Learn how to connect SEO to business value and revenue, including hard to measure projects like link building. Deepen your appreciation for business models and how the business model dictates what gets investment.</p>
    </div>

    <div class="ba b--black-50 mb4 pa3">
      <div class="f4 fw6">Week 3: Investment Models</div>
      <p>Learn how to create a financial investment plan and business model for large initiatives. Learn how to manage stakeholders to get pre-agreement and inputs to your model to create compelling financial models.</p>
    </div>    

    <div class="ba b--black-50 mb4 pa3">
      <div class="f4 fw6">Week 4: Effective Business Presentations</div>
      <p>Learn how to structure clear communication, from emails & slack messages to full strategy presentations. Learn how to put together a strategy presentation the same way McKinsey does.</p>
    </div>
    
    <div class="ba b--black-50 mb4 pa3">
      <div class="f4 fw6">Week 5: Getting Things Done</div>
      <p>Learn how to find alignment with other teams, how to manage resource asks and how to navigate organization politics. Learn how to improve communication with senior stakeholders and why pre-agreeing your work saves you time and headaches.</p>
    </div>    

  </div>

  <div class="w-50-l w-100 pl4-l">
    <img src="/images/test-5.png" />
    <p>Every week contains videos, resources and homework assignments</p>
  </div>

<div class="w-100">
  <h2 class="w-100 center tc f2 mb0">Bonus!</h2>
  <h3 class="w-100 avenir tc f3 mt2 fw4 pb4">In addition to lifetime access...</h3>


  <div class="w-75 center ba b--black-50 flex pa3">
    <div class="w-75">
      <p class="f4 fw6">Templates</p>
      Templates you can use! An investment spreadsheet and a full SEO strategy presentation template.
    </div>
    <div class="w-25">
      <img src="/images/templates.png">
    </div>
  </div>


  <div class="w-75 center ba b--black-50 flex pa3">
    <div class="w-75">
      <p class="f4 fw6">3 McKinsey Style Cases</p>
      Templates you can use! An investment spreadsheet and a full SEO strategy presentation template.
    </div>
    <div class="w-25">
      <img src="/images/cases.png">
    </div>
  </div>  

  <div class="w-75 center ba b--black-50 flex pa3">
    <div class="w-75">
      <p class="f4 fw6">Office Hours</p>
      Weekly office hours on zoom.
    <br><em>(Only available on Professional and Executive levels)</em>
    </div>
    <div class="w-25">
      <img src="/images/zoom.png">
    </div>
  </div>  

</div>

</div>



<div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

  <div class="testimonial bg-white shadow-1 pa4 ma4 w-25-l relative cormorant">
    <h1 class="f-subheadline lh-solid ma0 pa0 fw4">“</h1>
<p class="f4 pb5-l pt0 mt0 i">Tom really understands the nuances of speaking to executives.
  <br><br>
  <mark class="b">He's created a course that will help any strategy minded marketer communicate their ideas and get buy-in from their clients or leadership</mark>.</p>
<div class="absolute-l bottom-0 pv3 flex items-center">
  <div class="w-20">
    <img class="br-100" src="/images/ben.jpeg" />
  </div>
  <div class="w-75 pl2 avenir">
    <div class="b">Benjamin Collins</div>
    <div class="">President, Boldist</div>
  </div>

</div>

<div class="testimonialshadow ba b--black-50"></div>
  </div>

  <div class="testimonial bg-white shadow-1 pa4 ma4 w-25-l relative cormorant">
    <h1 class="f-subheadline lh-solid ma0 pa0 fw4">“</h1>
<p class="f4 pb5-l pt0 mt0 i">I was part of the SEO MBA beta cohort and I highly recommend this course to SEOs who are looking to level up their strategic skills. <br><br> Tom shares processes and examples that are applicable to those client-side, agency-side and solo consultants. It’s extremely actionable and includes lots of learnings that I embedded in my day to day work.
  <br><br>
  <mark class="b">Most importantly, I now feel much more confident presenting my SEO vision to leadership and executive teams</mark>.</p>

<div class="absolute-l bottom-0 pv3 flex items-center">
  <div class="w-20">
    <img class="br-100" src="/images/areej.jpeg" />
  </div>
  <div class="w-75 pl2 avenir">
    <div class="b">Areej AbuAli</div>
    <div class="">Head of SEO, Papier</div>
  </div>

</div>

<div class="testimonialshadow ba b--black-50"></div>
  </div>

  <div class="testimonial bg-white shadow-1 pa4 ma4 w-25-l relative cormorant">
    <h1 class="f-subheadline lh-solid ma0 pa0 fw4">“</h1>
<p class="f4 pb5-l pt0 mt0 i">This course is perfect for a seasoned SEO that knows what needs to get done and how to do it, but needs help with the soft skills: getting executive buy in, internal politics, budgeting, presentations, and more things no one ever talks about on Twitter.
  <br><br>
  <mark class="b">If you are trying to take your career to the next level, and be able to clearly communicate to both your peers and senior, this course is for you</mark>.</p>
  <div class="absolute-l bottom-0 pv3 flex items-center">
    <div class="w-20">
      <img class="br-100" src="/images/jh.jpeg" />
    </div>
    <div class="w-75 pl2 avenir">
      <div class="b">John-Henry Scherck</div>
      <div class="">Principal Consultant, Growth Plays</div>
    </div>
  
  </div>
<div class="testimonialshadow ba b--black-50"></div>
  </div>

  <div class="testimonial bg-white shadow-1 pa4 ma4 w-25-l relative cormorant">
    <h1 class="f-subheadline lh-solid ma0 pa0 fw4">“</h1>
<p class="f4 pb5-l pt0 mt0 i">If you want to learn exactly how to present ideas and get executive buy-in for SEO projects, SEO MBA is easily the most important and unique course you can invest your time in. Unlike any other SEO training or course, SEO MBA teaches you how to build a presentation and strategy to get executive buy-in upfront.
  <br><br>
  Tom’s one simple tip on what to how to write a slide headline (and exactly what not to do) has radically transformed our client presentation and pitch decks. <mark class="b">The course ended last week and it has already helped our entire agency communicate better and close 2 high quality six-figure deals.</mark></p>
<div class="absolute-l bottom-0 pv3 flex items-center">
  <div class="w-20">
    <img class="br-100" src="/images/leigh.jpeg" />
  </div>
  <div class="w-75 pl2 avenir">
    <div class="b">Leigh Wasson</div>
    <div class="">Chief Marketing Officer, Supreme Optimization</div>
  </div>

</div>
<div class="testimonialshadow ba b--black-50"></div>
  </div>

  <div class="testimonial bg-white shadow-1 pa4 ma4 w-25-l relative cormorant">
    <h1 class="f-subheadline lh-solid ma0 pa0 fw4">“</h1>
<p class="f4 pb5-l pt0 mt0 i">8 years into my career as a professional SEO, Tom's SEO MBA has helped me discover new ways to pitch projects, present forecasts and slide decks, drive change in large organizations and think more strategically.
  <br><br>
  <mark class="b">There are a lot of SEO courses that will tell you how to write a title tag or conduct keyword research. This is not one of them. Tom operates on another level, and you should consider yourself lucky if you ever get the chance to pick his brain about any SEO- and strategy related topic.</mark></p>
<div class="absolute-l bottom-0 pv3 flex items-center">
  <div class="w-20">
    <img class="br-100" src="/images/marco.jpeg" />
  </div>
  <div class="w-75 pl2 avenir">
    <div class="b">Marco Schlauri</div>
    <div class="">Founder, Digital Leverage</div>
  </div>

</div>
<div class="testimonialshadow ba b--black-50"></div>
  </div>

  <div class="testimonial bg-white shadow-1 pa4 ma4 w-25-l relative cormorant">
    <h1 class="f-subheadline lh-solid ma0 pa0 fw4">“</h1>
<p class="f4 pb5-l pt0 mt0 i">"The course was enlightening and I have already found actionable ways to improve my executive communication skills, optimize reporting, and "think bigger" with SEO strategy.
  <br><br>
  I now have the knowledge and tools to format more compelling requests for resources and support.
  <br><br>
  <mark class="b">My team and direct manager have noted the positive change (and my boost in confidence) over the past few weeks, and I will continue to apply these learnings to take my performance to new heights."</mark></p>
<div class="absolute-l bottom-0 pv3 flex items-center">
  <div class="w-20">
    <img class="br-100" src="/images/madeline.jpeg" />
  </div>
  <div class="w-75 pl2 avenir">
    <div class="b">Madeline Enos</div>
    <div class="">Marketing Manager and Off-Page SEO Lead</div>
  </div>

</div>
<div class="testimonialshadow ba b--black-50"></div>
  </div>
  
</div>      



<div class="w-90 mw8 bg-seomba center z-0 relative mv5">

  <div class="flex flex-wrap items-start">
  <img class="w-50-l w-100 shadow-1" src="/images/tom-cat-hat.jpg" />
  <div class="w-50-l w-100 pa4">
    <h2 class="f2">Hi, I'm <span class="red">Tom Critchlow</span> and I've worn many hats in my career</h2>
    <p>I've spent the last 15 years working in agencies, in-house and now as an independent consultant. I've consulted with companies large and small that you've heard of. Companies like The New York Times, Google, Dotdash, Etsy and Gartner.</p>
    <p>In my consulting work I've helped companies structure large scale SEO investments - and I've led hiring for senior SEO roles. What I've seen is that there's a big skills gap in the market. SEOs who are technically competent and expert, but who lack the executive presence to operate confidently at the C-suite.</p>
    <p>This course is a distillation of my entire career and brings to bear all of the skills adn advice I wish I'd had in my career along the way.</p>
  </div>

  <div class="w-50-l w-100 flex pa4">
    <div class="w-20">
      <img class="br-100" src="/images/robert.jpeg">
    </div>
    <div class="w-80 pl4">
    <em>“Tom brings a unique mix of SEO, business strategy and executive presence. Working together we have successfully secured investment to build modern SEO programs, driven valuable revenue growth and transformed SEO into a strategic business lever with executive leadership at various enterprises.”</em>
    <br><br>
    Robert Bellovin, VP Product, Angi
  </div>
  </div>

  <div class="w-50-l w-100 flex pa4">
    <div class="w-20">
      <img class="br-100" src="/images/jeremy.jpeg">
    </div>
    <div class="w-80 pl4">
    <em>“Tom is a 'CEO Whisperer'. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered."</em>
    <br><br>Jeremy Cabral, Co-founder & COO, Finder
  </div>
  </div>
  
</div>


<div class="testimonialshadow ba b--black-50"></div>
</div>



<div class="w-100 bg-seomba-dark tc z-2 relative pv5 center" id="pricing">
  <h2 class="seomba-light w-100 center tc f2 mb0">Enroll Today</h2>
  <h3 class="seomba-light w-100 avenir tc f3 mt2 fw4 pb4">Instant access, lifetime updates</h3>

<div class="flex flex-wrap w-100 justify-center mw9">

<div class="w-25-l w-100 ba b--seomba-red-accent br2 br--left bg-seomba pa4 mv3 shadow-1">
  <h3 class="f2 mt0">Essentials</h3>
  <p class="i tl">The full course on executive presence to become more confident and accelerate your career.</p>
  <p class="f2 avenir fw5 mv3">$695</p>
  <a class="pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://courses.seomba.com/executive-presence" data-podia-embed="link">Enroll Today</a>
  <hr class="w-100 mv3 center">
  <p class="avenir tl">
    What's included:
    <ul class="tl pl3">
      <li class="pv2">5+ hours of video</li>
      <li class="pv2">Lifetime access</li>
      <li class="pv2">3 McKinsey style cases</li>
      <li class="pv2">SEO investment spreadsheet template</li>
      <li class="pv2">Full SEO strategy presentation template</li>
    </ul>
  </p>
</div>

<div class="w-30-l w-100 ba b--seomba-red-accent br2 bg-seomba pa4 pt4 shadow-1">
  <h3 class="pt3 f2 mt0">Professional</h3>
  <p class="i tl">Everything in essentials, plus async feedback on your assignments and access to the weekly office hours.</p>
  <p class="f2 avenir fw5 mv3">$975</p>
  <a class="pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://courses.seomba.com/professional-tier-executive-presence" data-podia-embed="link">Enroll Today</a>
  <hr class="w-100 mv3 center">
  <p class="avenir tl">
    What's included:
    <ul class="tl pl3">
      <li class="pv2">5+ hours of video</li>
      <li class="pv2">Lifetime access</li>
      <li class="pv2">3 McKinsey style cases</li>
      <li class="pv2">SEO investment spreadsheet template</li>
      <li class="pv2">Full SEO strategy presentation template</li>
      <li class="pv2"><span class="red">Async feedback on assignments</span></li>
      <li class="pv2"><span class="red">Weekly office hours on zoom</span></li>
    </ul>
  </p>
</div>

<div class="w-25-l w-100 ba b--seomba-red-accent br2 br--right bg-seomba pa4 mv3 shadow-1">
  <h3 class="f2 mt0">Executive</h3>
  <p class="i tl">Everything in Professional with async feedback, weekly office plus a 45 min private 1:1 session with me.</p>
  <p class="f2 avenir fw5 mv3">$1,495</p>
  <a class="pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://courses.seomba.com/executive-presence-executive-tier" data-podia-embed="link">Enroll Today</a>
  <hr class="w-100 mv3 center">
  <p class="avenir tl">
    Everything included in essentials and professional, with <span class="red">an additional 1:1 private 45 min chat</span>.
    <br><br>
    <em>Availability limited</em>
  </p>
</div>

</div>

<p class="seomba-light pv5 ph3 measure f3 cormorant center">“The SEO MBA course is very good. I got more than my money's worth (a lot more) from yesterday's session on opportunity modeling, It's already changing how I work with customers. Money well spent.”
  <br><br>
  <span class="avenir f5">John-Henry Scherck - Principal Consultant, Growth Plays</span></p>


</div>

<div>
  FAQ
</div>

   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  