---
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}
      

    <div class="center mw8 center pv4-l flex-l ph0-l ph3">
  
        <div class="w-100 center ph4-l ph2 tc">
            <h1 class="maintitle f2 lh-title b">Become a more <span class="i red">confident</span> and <span class="i red">effective</span> 
              <br class="dn db-l">SEO professional</h1>
              <p class="f4 lh-copy">
                Join over 900 SEO professionals who have enrolled in the SEO MBA.
              </p>
          </div>     

      </div>
  </div>


  <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

    {% include testimonial.html

        quote = "<mark class='b'>Tom’s SEO MBA course provides a unique and critical course one cannot find anywhere else – up-leveling your SEO career past SEO Manager</mark>."
        
        name = "Micah Fisher-Kirshner"
        image = "/images/testimonials/micah.jpeg"
        title = "VP of SEO & Content at Turn/River Capital"
      %}           

      {% include testimonial.html
        quote = "<mark class='b'>Tom Critchlow's SEO MBA course is one of the very few SEO courses that are worth 10x the cost. If you're interested in stepping out of the weeds to get buy-in with decision-makers at the executive level, this is a must-take course.</mark>"
        name = "Greg Bernhardt"
        image = "/images/testimonials/greg.jpeg"
        title = "Senior SEO Strategist, Shopify"
      %}         


      {% include testimonial.html

        quote = "<mark class='b'>Tom's SEO MBA course is exactly what has been missing to take SEOs from channel masters to strategic marketers who can influence the course of a business.</mark> "
        
        name = "Mike King"
        image = "/images/testimonials/mike-king.jpeg"
        title = "Founder & Managing Director, iPullrank"
      %}  
    </div>

    <div class="w-100 bg-seomba-dark ph0-l ph3 pv4" id="pricing">
    
   
<div class="w-third-l tc center w-100 ba b--seomba-red-accent br2 bg-seomba pa4 pt4" id="professionalpricing">
    <h3 class="pt3 f2 mt3-l mt0 mb0">Two Course Bundle</h3>
    <p class="tc mb4 fw5">Purchase both courses together at a steep discount for a limited time only.</p>
    
    <div id="propricing">
    <p class="f2 avenir fw4 mv3">$500</p>
    <a class="pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://courses.seomba.com/two-course-professional-bundle-executive-presence-the-art-of-client-management/buy" data-podia-embed="link">Buy Now</a>
    </div>
  
    <div class="tl pt4 ph4-l">
  
        <div class="flex w-100 pv3">
            <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
            <div class="w-100"><span class="b">Access to Executive Presence.</span> Over 5 hours of video instruction, case studies, resources, assignments and more.</div>
          </div>
      
        <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Access to The Art of Client Management.</span> Over 5 hours of video instruction, case studies, resources, assignments and more.</div>
      </div>
  
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Real work templates.</span> Get the full SEO presentation template, business model spreadsheet and kickoff questions document.</div>
      </div> 
  
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Lifetime access.</span> Access anytime from any device.</div>
      </div>    
  
    </div>
  
  </div>
   
</div>

   <div class="pv5 mw8 center ph3 ph0-l">
    <h2 class="w-100 center tc f2 mb0">FAQ</h2>
  
    <details>
      <summary>Can I purchase a group discount?</summary>
      <div class="pa3 bg-white">Yes for groups of 5 or more email me: tom@seomba.com</div>
    </details> 
  
    <details>
      <summary>Why did you stop selling it and then start again?</summary>
      <div class="pa3 bg-white">Well, I took a job in 2024 and wanted to focus my time and energy there but it hasn't stopped people emailing me all the time asking how to buy the course! So I'm putting it back live for people to purchase as they want.</div>
    </details>        
  
    <details>
      <summary>Are input metrics really the key to success?</summary>
      <div class="pa3 bg-white">Yes.</div>
    </details>  
  
       
  
  <p class="tc">The SEO MBA contributes 1% of revenue to carbon removal. <a href="https://climate.stripe.com/ob3VSo">See more info here</a>.</p>
  
  </div>

      {% include footer.html %}
        
       
      


      
                
      
    
    
  