---
---

{% include head.html %}



<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}
      
    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="maintitle f2 lh-title b">Become a more effective, senior SEO professional</h1>
    </div>


    <div class="center mw8 center pv4-l flex-l ph0-l ph3">
  
      <div class="w-50-l relative pr4-l">
        
        <p class="f4 lh-copy">
          Free newsletter
        </p>
        
          <iframe  src="https://seomba.substack.com/embed" width="100%" height="280" class="ba b--black-30 shadow-5 br2" frameborder="0" scrolling="no"></iframe>
        
      </div>

      <div class="w-50-l relative pr4-l">
        
        <p class="f4 lh-copy">
          Flagship course
        </p>
        
          <img src="/images/video-still.png" />
        
      </div>
      

  </div>
  
  <div class="bg-white w-100 pv4">
</div>    
  

   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  