---
---

{% include head.html %}

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}
      

    <div class="center mw8 center pv4-l flex-l ph0-l ph3">
  
      <div class="w-50-l relative pr4-l">
        <h1 class="f1 lh-solid mb0 mt4">
          Become a more confident and effective SEO professional
        </h1>
        <p class="f4 lh-copy">
          Join over 900 SEO professionals who have enrolled in the SEO MBA.
        </p>
        <p class="f5 lh-copy i">
          The newsletter is completely free. Check out the <a class="link underline seomba-red-accent" href="https://seomba.substack.com/archive?r=k&sort=top">full archives here</a>.
        </p>
      </div>
      
            <div class="w-50-l  center pl4-l mt4">
       
                <div class="testimonial bg-white shadow-1 pa4 ma4 w-25-l relative cormorant">
                    <h1 class="f1 lh-solid ma0 pa0 fw4">“</h1>
                <p class="f4 pb5-l pt0 mt0">If you want to learn exactly how to present ideas and get executive buy-in for SEO projects, SEO MBA is easily the most important and unique course you can invest your time in. Unlike any other SEO training or course, SEO MBA teaches you how to build a presentation and strategy to get executive buy-in upfront.
                  <br><br>
                  Tom’s one simple tip on how to write a slide headline (and exactly what not to do) has radically transformed our client presentation and pitch decks. <mark class="b">The course ended last week and it has already helped our entire agency communicate better and close 2 high quality six-figure deals.</mark></p>
                <div class="absolute-l bottom-0 pv3 flex items-center">
                  <div class="w-20">
                    <img class="br-100" src="/images/leigh.jpeg" />
                  </div>
                  <div class="w-75 pl2 avenir">
                    <div class="b">Leigh Wasson</div>
                    <div class="">Chief Marketing Officer, Supreme Optimization</div>
                  </div>
                
                </div>
                <div class="testimonialshadow ba b--black-50"></div>
                  </div>

      </div>
  </div>


    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="f1-l f2 lh-title b mb0">Buy the SEO MBA Course Bundle</h1>
      <h2 class="f3 avenir pv0 fw4 mb5">Purchase both courses as a bundle at a discount price</h2>
    </div>
    
   
   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  