---
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}
      

    <div class="center mw8 center pv4-l flex-l ph0-l ph3">
  
        <div class="w-100 center ph4-l ph2 tc">
            <h1 class="maintitle f2 lh-title b">Become a more <span class="i red">confident</span> and <span class="i red">effective</span> 
              <br class="dn db-l">SEO professional</h1>
              <p class="f4 lh-copy">
                Join over 900 SEO professionals who have enrolled in the SEO MBA.
              </p>
          </div>     

      </div>
  </div>


  <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

    {% include testimonial.html

        quote = "<mark class='b'>Tom’s SEO MBA course provides a unique and critical course one cannot find anywhere else – up-leveling your SEO career past SEO Manager</mark>."
        
        name = "Micah Fisher-Kirshner"
        image = "/images/testimonials/micah.jpeg"
        title = "VP of SEO & Content at Turn/River Capital"
      %}           

      {% include testimonial.html
        quote = "<mark class='b'>Tom Critchlow's SEO MBA course is one of the very few SEO courses that are worth 10x the cost. If you're interested in stepping out of the weeds to get buy-in with decision-makers at the executive level, this is a must-take course.</mark>"
        name = "Greg Bernhardt"
        image = "/images/testimonials/greg.jpeg"
        title = "Senior SEO Strategist, Shopify"
      %}         


      {% include testimonial.html

        quote = "<mark class='b'>Tom's SEO MBA course is exactly what has been missing to take SEOs from channel masters to strategic marketers who can influence the course of a business.</mark> "
        
        name = "Mike King"
        image = "/images/testimonials/mike-king.jpeg"
        title = "Founder & Managing Director, iPullrank"
      %}  
    </div>

    <div class="w-100 bg-seomba-dark ph0-l ph3" id="pricing">
    
   
<div class="w-third-l tc center w-100 ba b--seomba-red-accent br2 bg-seomba pa4 pt4" id="professionalpricing">
    <h3 class="pt3 f2 mt3-l mt0 mb0">Two Course Bundle</h3>
    <p class="tc mb4 fw5">Purchase both courses together at a steep discount for a limited time only.</p>
    
    <div id="propricing">
    <p class="f2 avenir fw4 mv3">$500</p>
    <a class="pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://courses.seomba.com/two-course-professional-bundle-executive-presence-the-art-of-client-management" data-podia-embed="link" onclick="gtag('event', 'podia', {'event_category': 'podia_checkout', 'event_label': 'aocmpro'});">Enroll Today</a>
    </div>
  
    <div class="tl pt4 ph4-l">
  
        <div class="flex w-100 pv3">
            <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
            <div class="w-100"><span class="b">Access to Executive Presence.</span> Over 5 hours of video instruction, case studies, resources, assignments and more.</div>
          </div>
      
        <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Access to The Art of Client Management.</span> Over 5 hours of video instruction, case studies, resources, assignments and more.</div>
      </div>
  
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Real work templates.</span> Get the full SEO presentation template, business model spreadsheet and kickoff questions document.</div>
      </div> 
  
      <div class="flex w-100 pv3">
        <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
        <div class="w-100"><span class="b">Lifetime access.</span> Access anytime from any device.</div>
      </div>    
  
    </div>
  
  </div>
   
</div>

   <div class="pv5 mw8 center ph3 ph0-l">
    <h2 class="w-100 center tc f2 mb0">FAQ</h2>
  
    <details>
      <summary>How long will the weekly office hours continue?</summary>
      <div class="pa3 bg-white">Office hours are held weekly and will continue at least through the end of 2024.</div>
    </details>  
  
    <details>
      <summary>What if I can't make the office hours?</summary>
      <div class="pa3 bg-white">I can't guarantee to cover every single time zone but I'll do my best to vary the time of day and day of the week so that everyone can get a chance to attend these sessions. Most commonly they'll be Thursday morning, Eastern Time</div>
    </details>    
  
    <details>
      <summary>Do I have to follow the 5 week schedule?</summary>
      <div class="pa3 bg-white">No, you don't have to. You get lifetime access to all of the materials on day 1 and can study at your own pace. That said there's a lot of materials so I suggest pacing yourself with the weekly emails!</div>
    </details>    
  
    <details>
      <summary>Do you have a 1-pager PDF I can show my boss?</summary>
      <div class="pa3 bg-white">Sure! Take a look at <a href="/SEOMBA-executive-presence-overview.pdf">this PDF</a> or the <a href="https://docs.google.com/presentation/d/1zLE97s5Ic0EJrmMoZ0qa64KNbJeyMWbi3hod3JLzvPA/edit">Google Docs version</a></div>
    </details>        
  
    <details>
      <summary>I work on small business SEO. Is this course for me?</summary>
      <div class="pa3 bg-white">While the course content should be useful and applicable to everyone, it's geared towards SEOs working with medium and large organizations where business skills, investment models and presentations are most impactful.</div>
    </details>  
  
       
  
  <p class="tc">The SEO MBA contributes 1% of revenue to carbon removal. <a href="https://climate.stripe.com/ob3VSo">See more info here</a>.</p>
  
  </div>

      {% include footer.html %}
        
       
      


      
                
      
    
    
  