---
---

{% include head.html %}



<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}
      

    <div class="center mw8 center pv4-l flex-l ph0-l ph3">
  
      <div class="w-50-l relative pr4-l">
        <h1 class="f1 lh-solid mb0 mt4">
          Leadership & Business Skills for the SEO Industry
        </h1>
        <p class="f4 lh-copy">
          Learn how to be more effective and more confident at presenting to executives and  getting things done.
        </p>
      </div>
      
            <div class="w-50-l  center pl4-l mt4">
       <iframe  src="https://seomba.substack.com/embed" width="100%" height="280" class="ba b--black-30 shadow-5 br2" frameborder="0" scrolling="no"></iframe>
      </div>
  </div>
  
  <div class="bg-white w-100 pv4">
    
  
    <section class="mw7  avenir center ph3 ph0-l">

      <div class="ba br2 b--seomba-red-accent flex pa4 flex-wrap">
        <div class="w-80-l">
          <div class="avenir f5 red">NEW</div>
          <div class="f3 cormorant">The SEO MBA Course on Executive Presence</div>
        </div>
        <div class="w-20-l">
          <a class="w-100 db link seomba-light bg-seomba-red cormorant tc br2 pa2 f3" href="/executive-presence/">Enroll Today!</a>
        </div>

      </div>


    <h1>
      Latest Issues:
    </h1>    

    
    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/are-you-making-seo-strategically">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F286d8ad2-65f5-4ceb-a5bc-34758b77a4ca_2401x1201.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">Are you making SEO Strategically Important?</h1>
            <p class="f6 f5-l lh-copy">
              Using strategic alignment to get more buy-in
            </p>
  
          </div>
        </div>
      </a>
    </article>   

    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/using-surveys-to-increase-executive">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fc3cda045-43cb-4423-b539-01864dc8c4c6_2401x1201.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">Using Surveys to Increase Executive Buy-in</h1>
            <p class="f6 f5-l lh-copy">
              Quantifying subjective metrics like “E-A-T”, “UX” and “Content Quality”
            </p>
  
          </div>
        </div>
      </a>
    </article>     


    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/your-boss-cares-about-reporting-more">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F9d3bb111-d1f9-4a97-9f45-2ddd52940164_1486x720.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">Your boss cares about reporting more than you do</h1>
            <p class="f6 f5-l lh-copy">
              Reporting is a form of communication, and communication solves all problems
            </p>
  
          </div>
        </div>
      </a>
    </article> 

    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/are-you-problem-solving-or-capacity">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F7788f177-45f8-42b1-ada0-6687bfa9d615_2400x1200.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">Are you Problem Solving or Capacity Building?</h1>
            <p class="f6 f5-l lh-copy">
              Adopting the consulting mindset to work on impactful projects
            </p>
  
          </div>
        </div>
      </a>
    </article> 
    


    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/how-to-convince-execs-to-care-about">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F49ab6fea-2cf7-4525-b934-77fbe92bf55a_2401x1200.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">How to convince execs to care about SEO</h1>
            <p class="f6 f5-l lh-copy">
              Getting buy-in through education and advocacy
            </p>
  
          </div>
        </div>
      </a>
    </article> 


    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/mindset-shifts-for-strategic-seo">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fc371a588-b8f1-47b6-9bb0-8f906dbd8102_2400x1200.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">Mindset Shifts for Strategic SEO</h1>
            <p class="f6 f5-l lh-copy">
              How to think about growth, not just audits
            </p>
  
          </div>
        </div>
      </a>
    </article> 

    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/getting-buy-in-requires-executive">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F68d3c919-a2af-4c55-b5a1-ce5c43bac635_898x838.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">Getting Buy-in Requires Executive Empathy</h1>
            <p class="f6 f5-l lh-copy">
              And why your SEO strategy should “agree with” the product strategy
            </p>
  
          </div>
        </div>
      </a>
    </article> 

    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/how-to-turn-your-agency-into-the">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F17de0e37-1b85-4991-96b1-aa75514df65b_1002x440.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">How to turn your agency into "the McKinsey of SEO"</h1>
            <p class="f6 f5-l lh-copy">
              Management consulting through the lens of SEO
            </p>
  
          </div>
        </div>
      </a>
    </article> 

    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/the-visual-revolution-in-knowledge">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F43abbe55-a0c9-44aa-be02-12cc63531ba2_1200x900.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">The Visual Revolution in Knowledge Work</h1>
            <p class="f6 f5-l lh-copy">
              Why learning tools like Figma & Miro can give you more influence
            </p>
  
          </div>
        </div>
      </a>
    </article> 

    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/lets-get-rid-of-the-seo-legends-yes">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F888ccd0a-6935-479e-a7d3-5342f4ba2361_1500x1014.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">Presenting with Data</h1>
            <p class="f6 f5-l lh-copy">
              How you present your data changes how people react to it
            </p>
  
          </div>
        </div>
      </a>
    </article>  

    <article class="bt b--black-10">
      <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/good-slides-reduce-complexity">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
            <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F845e754d-4ebc-4963-b022-44fab68bb27d_2118x1198.png" class="db" alt="">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw6 mt0 lh-title">Good Slides Reduce Complexity</h1>
            <p class="f6 f5-l lh-copy">
              Avoid the most common slide-crimes and make more effective presentations.
            </p>
  
          </div>
        </div>
      </a>
    </article>     

    <article class="bt b--black-10">
        <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/the-uncanny-valley-of-seo-strategy">
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fb3aae52a-6ab4-4010-b248-e7e46f72f3e7_1868x1026.png" class="db" alt="">
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw6 mt0 lh-title">The Uncanny Valley of SEO Strategy</h1>
              <p class="f6 f5-l lh-copy">
                Sometimes bigger is better
              </p>
    
            </div>
          </div>
        </a>
      </article>  

    <article class="bt b--black-10">
        <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/lets-never-talk-about-seo-audits">
          <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
              <img src="https://cdn.substack.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F9aa3b3bf-b7a7-4fbc-a5b8-da90a1accf70_1286x882.png" class="db" alt="">
            </div>
            <div class="w-100 w-60-ns pl3-ns">
              <h1 class="f3 fw6 mt0 lh-title">Let's never talk about SEO audits again</h1>
              <p class="f6 f5-l lh-copy">
                How to tell a story for the change you want to make
              </p>
    
            </div>
          </div>
        </a>
      </article>      

    <article class="bt b--black-10">
    <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/presenting-to-the-ceo-in-5-slides">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fb429c841-a1b6-4b33-8387-dac24ba68cb1_1180x426.png" class="db" alt="">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw6 mt0 lh-title">Presenting to the CEO in 5 slides</h1>
          <p class="f6 f5-l lh-copy">
            How to create concise, compelling and credible ideas when dealing with senior executives.
          </p>

        </div>
      </div>
    </a>
  </article>
        
  <article class="bt b--black-10">
    <a class="db pv4 ph0 no-underline black dim" href="https://seomba.substack.com/p/welcome-to-the-seo-mba">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="https://cdn.substack.com/image/fetch/w_1200,c_limit,f_jpg,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F536a522c-4e5c-4962-8e7e-1df99cfa5b19_2400x1201.png" class="db" alt="">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw6 mt0 lh-title">Welcome to the SEO MBA</h1>
          <p class="f6 f5-l lh-copy">
            Why I'm launching a newsletter and online course designed to teach SEO professionals all about executive presence.
          </p>

        </div>
      </div>
    </a>
  </article>        
  
</section>
      </div>
   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  