---
---

{% include head.html %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@type": "Course",
          "url": "https://seomba.com/executive-presence/",
          "name": "Executive Presence",
          "description": "Business & communication skills for SEO professionals.",
          "provider": {
            "@type": "Organization",
            "name": "The SEO MBA",
            "sameAs": "https://seomba.com"
         }
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@type": "Course",
          "url": "https://seomba.com/client-management/",
          "name": "The Art of Client Management",
          "description": "Level up your client management skills for agency SEOs",
          "provider": {
            "@type": "Organization",
            "name": "The SEO MBA",
            "sameAs": "https://seomba.com"
         }
       }
      }
    ]
  }
  </script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}
      

    <div class="center mw8 center pv4-l flex-l ph0-l ph3">
  
      <div class="w-50-l relative pr4-l">
        <h1 class="f1 lh-solid mb0 mt4">
          Become a more confident and effective SEO professional
        </h1>
        <p class="f4 lh-copy">
          Join over 8,500 SEO professionals and improve your communication, business and consulting skills.
        </p>
        <p class="f5 lh-copy i">
          The newsletter is completely free. Check out the <a class="link underline seomba-red-accent" href="https://seomba.substack.com/archive?r=k&sort=top">full archives here</a>.
        </p>
      </div>
      
            <div class="w-50-l  center pl4-l mt4">
       <iframe  src="https://newsletter.seomba.com/embed" width="100%" height="280" class="ba b--black-30 shadow-5 br2" frameborder="0" scrolling="no"></iframe>
      </div>
  </div>
  
  <div class="w-100 bg-white">
  <div class="mw8 pa4 flex flex-wrap center justify-center">
    
  <div class="w-50-l w-100 pa4 f3 cormorant">
    “One of my new favourite SEO resources. Tom uses his experience to offer advice on one of the hardest parts of SEO which is “getting things done”. Can't recommend the content enough”
    <div class="f5 black-30 pt2 avenir"><a class="link seomba-red-accent" href="https://twitter.com/carlhendy/status/1463564354524258307">Carl Hendy -  Co-Owner / Director Reddico</a></div>
  </div>

  
  <div class="w-50-l w-100 pa4 f3 cormorant">
    “To level up strategically, @tomcritchlow’s SEO MBA free newsletter gives perspectives I haven’t seen elsewhere.”
    <div class="f5 black-30 pt2 avenir"><a class="link seomba-red-accent" href="https://twitter.com/markalves/status/1489230040365768709">Mark Alves - Senior SEO Manager, GMMB</a></div>
  </div>
  
  <!--
  <div class="w-third-l w-100 pa4 f3 cormorant">
    “Once again @tomcritchlow hits it out of the park with his latest SEO MBA newsletter.”
    <div class="f5 black-30 pt2"><a class="link seomba-red-accent" href="https://twitter.com/pagesauce/status/1443217402058186762">Charlie Williams - SEO Strategy Consultant</a></div>
  </div>  
  -->
    
      </div>
    </div>

    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="f1-l f2 lh-title b mb0">Courses Designed for SEO Professionals</h1>
      <h2 class="f3 avenir pv0 fw4 mb5">Advance your career with business, leadership and communication skills from the SEO MBA</h2>
    </div>
    
    <div class="flex-l w-90 mw8 center justify-between">

      <div class="w-50-l w-100 br2 ba b--black-20 ph4 pt2 pb4 mr4-l bg-white mb4">
        <div class="flex items-center h4-l">
          <h2 class="w-100 f2 lh-title b mb3 mt0 tc">Executive Presence</h2>
        </div>
        
        <a href="/executive-presence/"><img class="pt1 pb3" src="/images/exec-chip.png"/></a>
        <div class="avenir f4 lh-copy">
        <span class="fw5">Designed for senior level SEO professionals who are working with senior stakeholders, whether working in-house or agency-side.</span><br><br> This course will help you get budget and buy-in for your work. Take the course and learn how to:
        <ul>
          <li class="pv2">Create buy-in & budget for your work</li>
          <li class="pv2">Communicate effectively with senior stakeholders</li>
          <li class="pv2">Build a business case for your projects</li>
          <li class="pv2">Work cross-functionally to get things done</li>
        </ul>
        <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 mr3 grow">
          <a class="w-100 db link seomba-light cormorant tc lh-title" href="/executive-presence/">Learn More</a>
      </div>
        </div>
      </div>

      <div class="w-50-l w-100 br2 ba b--black-20 ph4 pt2 pb4 ml4-l bg-white mb4">
        <div class="flex items-center h4-l">
        <h2 class="w-100 f2 lh-title b mb3 mt0 tc">The Art of Client Management</h2>
      </div>
        <a href="/client-management/"><img class="pt1 pb3" src="/images/aocm-chip.png"/></a>
        
        <div class="avenir f4 lh-copy">
        <span class="fw5">Designed for agency SEO professionals, whether sales, account managers or consultants.</span><br><br>This course will help you manage expectations, and retain clients more effectively. Take the course and learn how to:
        <ul> 
          <li class="pv2">Manage client expectations</li>
          <li class="pv2">Build trusted long-term relationships with clients</li>
          <li class="pv2">Tie your recommendations to business value</li>
          <li class="pv2">Retain and upsell clients more effectively</li>
        </ul>
        <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 mr3 grow">
          <a class="w-100 db link seomba-light cormorant tc lh-title" href="/client-management/">Learn More</a>
      </div>
        </div>
      </div>



    </div>
   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  