---
---

{% include head.html %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@type": "Course",
          "url": "https://seomba.com/executive-presence/",
          "name": "Executive Presence",
          "description": "Business & communication skills for SEO professionals.",
          "provider": {
            "@type": "Organization",
            "name": "The SEO MBA",
            "sameAs": "https://seomba.com"
         }
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@type": "Course",
          "url": "https://seomba.com/client-management/",
          "name": "The Art of Client Management",
          "description": "Level up your client management skills for agency SEOs",
          "provider": {
            "@type": "Organization",
            "name": "The SEO MBA",
            "sameAs": "https://seomba.com"
         }
       }
      }
    ]
  }
  </script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}
      

    <div class="center mw8 center pv4-l flex-l ph0-l ph3">
      <p>Hey, it's me Tom Critchlow and I've got a little announcement.</p>
      <p>Here's the short version: I'm going through some career/life changes and so after 3 years of running the SEO MBA, I'm shutting down new course sales on Aug 31st 2024.</p>
      <p>If you want to grab access before the courses get pulled down buy the bundle for $500 (was $1175)</p>


    </div>
     
      {% include footer.html %}
        
       
      


      
                
      
    
    
  