---
title: Team Pricing
---

{% include head.html %}

<body class="w-100 h-100 db bg-seomba avenir">

{% include nav.html %}

<div class="mw9 ph5-l center">

<div class="ph5-l">

<h1 class="f1 mb0">Buy the SEO MBA for your team</h1>
<p class="f3">The SEO MBA courses are designed to provide professional skills to SEO professionals</p>

<a class="br2 pa2 bg-seomba-red seomba-light" href="https://calendly.com/tomcritchlow/tom-chat">Schedule a demo</a>

<h2 class="f2 mb0 mt4">Executive Presence</h2>
<p>Designed for in-house and agency SEOs who work with cross-functional teams and need to operate with stronger communication, more bias </p>

<div class="f4">
    <div class="overflow-auto">
      <table class="w-100 center collapse" cellspacing="0">
        <thead>
          <tr class="ttu f5">
            <th class="fw6 tl pa3">Package</th>
            <th class="fw6 pa3">Seats</th>
            <th class="fw6 pa3">Discount</th>
            <th class="fw6 pa3">Per Seat</th>
            <th class="fw6 pa3">Total</th>
          </tr>
        </thead>
        <tbody class="lh-copy">
          <tr class="bt b--black-20">
            <td class="pa3">Team (3)</td>
            <td class="pa3 tc">3</td>
            <td class="pa3 tc">15%</td>
            <td class="pa3 tc">$695</td>
            <td class="pa3 tc">$1,500</td>
            <td class="pa3 tr"><a class="bg-seomba-red pa2 br2 seomba-light" href="">Buy Now</a></td>
          </tr>
          <tr class="bt b--black-20">
            <td class="pa3">Team (5)</td>
            <td class="pa3 tc">3</td>
            <td class="pa3 tc">15%</td>
            <td class="pa3 tc">$695</td>
            <td class="pa3 tc">$1,500</td>
            <td class="pa3 tc">Buy Now</td>
          </tr>

          
        </tbody>
      </table>
    </div>
  </div>


</div>
</div>
{% include footer.html %}