---
title: Team Pricing
---

{% include head.html %}

<body class="w-100 h-100 db bg-seomba avenir">

{% include nav.html %}

<div class="mw9 ph3 ph5-l center">

<div class="ph5-l">

<h1 class="f-subheadline-l f1 mb0">Team Pricing</h1>
<p class="f2-l f3 measure mt1">Build a more capable, confident and effective SEO team.</p>

<a class="br2 pa2 pa3-l bg-seomba-red seomba-light dib grow f4 link" href="https://calendly.com/tomcritchlow/tom-chat">Schedule a demo</a>

<h2 class="f1 mb0 pt4">Executive Presence</h2>
<p class="f4 measure-wide mt1 lh-copy">Designed for in-house and agency SEOs working with cross-functional teams and senior stakeholders. Become more effective, more business-focused and improve your communication. <a href="https://seomba.com/executive-presence/">Learn more</a></p>

<div class="f6 f4-l">
    <div class="overflow-auto">
      <table class="w-100 center collapse" cellspacing="0">
        <thead>
          <tr class="ttu f5-l">
            <th class="fw6 ph1 ph3-l pv4 tl">Package</th>
            <th class="fw6 ph1 ph3-l pv4 dn db-l">Seats</th>
            <th class="fw6 ph1 ph3-l pv4">Discount</th>
            <th class="fw6 ph1 ph3-l pv4 tc tr-l">Per Seat</th>
            <th class="fw6 ph1 ph3-l pv4 tc tr-l">Total</th>
          </tr>
        </thead>
        <tbody class="lh-copy">
          <tr class="bt b--black-20">
            <td class="ph1 ph3-l pv4">Team (3)</td>
            <td class="ph1 ph3-l pv4 tc dn db-l">3</td>
            <td class="ph1 ph3-l pv4 tc">10%</td>
            <td class="ph1 ph3-l pv4 tc tr-l">$878</td>
            <td class="ph1 ph3-l pv4 tc tr-l">$2,634</td>
            <td class="ph1 ph3-l pv4 tr"><a class="bg-seomba-dark pa2 dib tc br2 seomba-light link" href="https://buy.stripe.com/6oE4izbeOfkz3Mk3cs">Buy Now</a></td>
          </tr>
          <tr class="bt b--black-20">
            <td class="ph1 ph3-l pv4">Team (5)</td>
            <td class="ph1 ph3-l pv4 tc dn db-l">5</td>
            <td class="ph1 ph3-l pv4 tc">15%</td>
            <td class="ph1 ph3-l pv4 tc tr-l">$829</td>
            <td class="ph1 ph3-l pv4 tc tr-l">$4,144</td>
            <td class="ph1 ph3-l pv4 tr"><a class="bg-seomba-dark pa2 dib tc br2 seomba-light link" href="https://buy.stripe.com/6oEcP51Ee6O3gz66oH">Buy Now</a></td>
          </tr>
          <tr class="bt b--black-20">
            <td class="ph1 ph3-l pv4">Team (10)</td>
            <td class="ph1 ph3-l pv4 tc dn db-l">10</td>
            <td class="ph1 ph3-l pv4 tc">20%</td>
            <td class="ph1 ph3-l pv4 tc tr-l">$780</td>
            <td class="ph1 ph3-l pv4 tc tr-l">$7,800</td>
            <td class="ph1 ph3-l pv4 tr"><a class="bg-seomba-dark pa2 dib tc br2 seomba-light link" href="https://buy.stripe.com/5kA4izer0a0faaI7sK">Buy Now</a></td>
          </tr>
          <tr class="bt b--black-20">
            <td class="ph1 ph3-l pv4">Unlimited</td>
            <td class="ph1 ph3-l pv4 tc dn db-l">∞</td>
            <td class="ph1 ph3-l pv4 tc">-</td>
            <td class="ph1 ph3-l pv4 tc tr-l">-</td>
            <td class="ph1 ph3-l pv4 tc tr-l">-</td>
            <td class="ph1 ph3-l pv4 tr"><a class="bg-seomba-dark pa2 dib tc br2 seomba-light link" href="mailto:tom@seomba.com">Get in touch</a></td>
          </tr>                    


          
        </tbody>
      </table>
    </div>
  </div>


  <h2 class="f1 mb0 pt4">The Art of Client Management</h2>
  <p class="f4 measure-wide mt1 lh-copy">Designed for SEO agencies, to create more effective consultants, sales people and operators. <a href="https://seomba.com/client-management/">Learn more</a></p>
  
  <div class="f6 f4-l">
      <div class="overflow-auto">
        <table class="w-100 center collapse" cellspacing="0">
          <thead>
            <tr class="ttu f5-l">
              <th class="fw6 ph1 ph3-l pv4 tl">Package</th>
              <th class="fw6 ph1 ph3-l pv4 dn db-l">Seats</th>
              <th class="fw6 ph1 ph3-l pv4">Discount</th>
              <th class="fw6 ph1 ph3-l pv4 tr-l tc">Per Seat</th>
              <th class="fw6 ph1 ph3-l pv4 tr-l tc">Total</th>
            </tr>
          </thead>
          <tbody class="lh-copy">
            <tr class="bt b--black-20">
              <td class="ph1 ph3-l pv4">Team (3)</td>
              <td class="ph1 ph3-l pv4 tc dn db-l">3</td>
              <td class="ph1 ph3-l pv4 tc">10%</td>
              <td class="ph1 ph3-l pv4 tr-l tc">$630</td>
              <td class="ph1 ph3-l pv4 tr-l tc">$1,890</td>
              <td class="ph1 ph3-l pv4 tr"><a class="bg-seomba-dark pa2 dib tc br2 seomba-light link" href="https://buy.stripe.com/8wMcP5gz82xN5UscMS">Buy Now</a></td>
            </tr>
            <tr class="bt b--black-20">
              <td class="ph1 ph3-l pv4">Team (5)</td>
              <td class="ph1 ph3-l pv4 tc dn db-l">5</td>
              <td class="ph1 ph3-l pv4 tc">15%</td>
              <td class="ph1 ph3-l pv4 tr-l tc">$595</td>
              <td class="ph1 ph3-l pv4 tr-l tc">$2,975</td>
              <td class="ph1 ph3-l pv4 tr"><a class="bg-seomba-dark pa2 dib tc br2 seomba-light link" href="https://buy.stripe.com/00g8yPaaK1tJ6YweV2">Buy Now</a></td>
            </tr>
            <tr class="bt b--black-20">
              <td class="ph1 ph3-l pv4">Team (10)</td>
              <td class="ph1 ph3-l pv4 tc dn db-l">10</td>
              <td class="ph1 ph3-l pv4 tc">20%</td>
              <td class="ph1 ph3-l pv4 tr-l tc">$560</td>
              <td class="ph1 ph3-l pv4 tr-l tc">$5,600</td>
              <td class="ph1 ph3-l pv4 tr"><a class="bg-seomba-dark pa2 dib tc br2 seomba-light link" href="https://buy.stripe.com/fZeg1h0Aafkzgz67sF">Buy Now</a></td>
            </tr>
            <tr class="bt b--black-20">
              <td class="ph1 ph3-l pv4">Unlimited</td>
              <td class="ph1 ph3-l pv4 tc dn db-l">∞</td>
              <td class="ph1 ph3-l pv4 tc">-</td>
              <td class="ph1 ph3-l pv4 tr-l tc">-</td>
              <td class="ph1 ph3-l pv4 tr-l tc">-</td>
              <td class="ph1 ph3-l pv4 tr"><a class="bg-seomba-dark pa2 dib tc br2 seomba-light link" href="mailto:tom@seomba.com">Get in touch</a></td>
            </tr>                    
  
  
            
          </tbody>
        </table>
      </div>
    </div>  

<div class="flex flex-wrap pv4">

        <div class="w-50-l w-100 pv2 f4">
            <h3 class="f2 mb0">What's included?</h3>
            <p>Every team member will get professional-level access to the full course (5+ hours of video), including the business model template and presentation template. In addition, every team member will get 1:1 feedback on the weekly projects and access to the live weekly office hours.</p>
        </div>
        <div class="w-50-l w-100 pv2 f4">
            <h3 class="f2 mb0">Can I transfer seats between employees?</h3>
            <p>No, unfortunately seats are not transferrable between individuals. Additional seats can be purchased anytime at the discounted rate.</p>
        </div>
        <div class="w-50-l w-100 pv2 f4">
            <h3 class="f2 mb0">How does the Unlimited license work?</h3>
            <p>The unlimited license allows you to enroll as many people as you want in the SEO MBA course, which makes it ideal for large teams who want to incorporate the training into their internal L&D systems without incurring additional fees for new people. You will have the ability to self-manage the enrollment, but it does not provide you access to re-sell or whitelabel the course content.</p>
        </div>        

    <div class="w-50-l w-100 pv2 f4">
        <h3 class="f2 mb0">Do you offer custom training?</h3>
        <p>Yes! I've built custom training programs and run private cohorts for agency teams and in-house teams of all sizes. If you have a specific need or want to create a training program that integrates with your internal learning platform <a href="mailto:tom@seomba.com">get in touch</a> to discuss.</p>
    </div>
    <div class="w-50-l w-100 pv2 f4">
        <h3 class="f2 mb0">Can I pay by invoice?</h3>
        <p>Absolutely - just drop me an email (tom@seomba.com) and I can set it up for you.</p>
    </div>
    <div class="w-50-l w-100 pv2 f4">
        <h3 class="f2 mb0">Questions?</h3>
        <p>If you have more questions, need a custom invoice or want to see a course demo just drop me a line: <a href="mailto:tom@seomba.com">tom@seomba.com</a>. Thanks.</p>
    </div>    

</div>


</div>
</div>
{% include footer.html %}