---
title: SEO MBA Testimonials & Reviews
subtitle: What people are saying
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="maintitle f2 lh-title b">What people have said</h1>
      <p>Join 100s of SEOs who have completed the SEO MBA course. <a href="https://seomba.com/executive-presence/">Enroll Today</a>.</p>
      TESTINTG
    </div>
    
    <div class="flex">
      
      <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

        {% include testimonial.html
          quote = "Tom really understands the nuances of speaking to executives.
          <br><br>
          <mark class="b">He's created a course that will help any strategy minded marketer communicate their ideas and get buy-in from their clients or leadership.</mark>"
          name = "Ben Collins"
          title = "President, Boldist"
          image = "/images/ben.jpeg"
        %}

        {% include testimonial.html
          quote = "I was part of the SEO MBA beta cohort and I highly recommend this course to SEOs who are looking to level up their strategic skills. <br><br> Tom shares processes and examples that are applicable to those client-side, agency-side and solo consultants. It’s extremely actionable and includes lots of learnings that I embedded in my day to day work.
          <br><br>
          <mark class="b">Most importantly, I now feel much more confident presenting my SEO vision to leadership and executive teams</mark>.</p>"
          name = "Areej AbuAli"
          title = "Head of SEO, Papier"
          image = "/images/areej.jpeg"
        %}   
        
        {% include testimonial.html
          quote = "This course is perfect for a seasoned SEO that knows what needs to get done and how to do it, but needs help with the soft skills: getting executive buy in, internal politics, budgeting, presentations, and more things no one ever talks about on Twitter.
          <br><br>
          <mark class="b">If you are trying to take your career to the next level, and be able to clearly communicate to both your peers and senior, this course is for you</mark>."
          name = "John-Henry Scherck"
          title = "Principal Consultant, Growth Plays"
          image = "/images/jh.jpeg"
        %}   
        
        {% include testimonial.html
          quote = "If you want to learn exactly how to present ideas and get executive buy-in for SEO projects, SEO MBA is easily the most important and unique course you can invest your time in. Unlike any other SEO training or course, SEO MBA teaches you how to build a presentation and strategy to get executive buy-in upfront.
          <br><br>
          Tom’s one simple tip on what to how to write a slide headline (and exactly what not to do) has radically transformed our client presentation and pitch decks. <mark class="b">The course ended last week and it has already helped our entire agency communicate better and close 2 high quality six-figure deals.</mark>"
          name = "Leigh Wasson"
          title = "Chief Marketing Officer, Supreme Optimization"
          image = "/images/leigh.jpeg"
        %}   

        {% include testimonial.html
          quote = "8 years into my career as a professional SEO, Tom's SEO MBA has helped me discover new ways to pitch projects, present forecasts and slide decks, drive change in large organizations and think more strategically.
          <br><br>
          <mark class="b">There are a lot of SEO courses that will tell you how to write a title tag or conduct keyword research. This is not one of them. Tom operates on another level, and you should consider yourself lucky if you ever get the chance to pick his brain about any SEO- and strategy related topic.</mark>"
          name = "Marco Schlauri"
          title = "Founder, Digital Leverage"
          image = "/images/marco.jpeg"
        %} 
        
        {% include testimonial.html
          quote = "The course was enlightening and I have already found actionable ways to improve my executive communication skills, optimize reporting, and "think bigger" with SEO strategy.
          <br><br>
          I now have the knowledge and tools to format more compelling requests for resources and support.
          <br><br>
          <mark class="b">My team and direct manager have noted the positive change (and my boost in confidence) over the past few weeks, and I will continue to apply these learnings to take my performance to new heights.</mark>"
          name = "Madeline Enos"
          title = "Marketing Manager and Off-Page SEO Lead"
          image = "/images/madeline.jpeg"
        %}  
        
        {% include testimonial.html
          quote = "Tom Critchlow's SEO MBA course is one of the very few SEO courses that are worth 10x the cost. If you're interested in stepping out of the weeds to get buy-in with decision-makers at the executive level, this is a must-take course.
          <br><br>
          Tom's vast experience, impactful examples, and data-driven lessons ensure your SEO career gets leveled up."
          name = "Greg Bernhardt"
          title = "Senior SEO Strategist, Shopify"
        %}   
        
        {% include testimonial.html
          tweet = "https://twitter.com/JHTScherck/status/1441082830512013320"
        %}           

        {% include testimonial.html
          tweet = "https://twitter.com/ShaunCHill/status/1455594148057305088"
        %}                   

        {% include testimonial.html

          quote = "Tom’s SEO MBA course provides a unique and critical course one cannot find anywhere else – up-leveling your SEO career past SEO Manager. We SEOs often get bogged down in the weeds and his course captures the myriad of aspects I need even 10+ years doing SEO to continually improve my strategic level thinking."
          
          name = "Micah Fisher-Kirshner"
          
          title = "VP of SEO & Content at Turn/River Capital"
        %}           
        
      


      </div>

    </div>

   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  