---
title: SEO MBA Testimonials & Reviews
subtitle: What people are saying
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="maintitle f2 lh-title b">What people have said</h1>
      <p>Join 100s of SEOs who have completed the SEO MBA course. <a href="https://seomba.com/executive-presence/">Enroll Today</a>.</p>
    </div>
    
    <div class="flex">
      
      <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

        {% include testimonial.html
          quote = "Tom really understands the nuances of speaking to executives.
          <br><br>
          <mark class="b">He's created a course that will help any strategy minded marketer communicate their ideas and get buy-in from their clients or leadership.</mark>"
          name = "Ben Collins"
          title = "President, Boldist"
          image = "/images/ben.jpeg"
        %}

        {% include testimonial.html
          quote = "I was part of the SEO MBA beta cohort and I highly recommend this course to SEOs who are looking to level up their strategic skills. <br><br> Tom shares processes and examples that are applicable to those client-side, agency-side and solo consultants. It’s extremely actionable and includes lots of learnings that I embedded in my day to day work.
          <br><br>
          <mark class="b">Most importantly, I now feel much more confident presenting my SEO vision to leadership and executive teams</mark>.</p>"
          name = "Areej AbuAli"
          title = "Head of SEO, Papier"
          image = "/images/areej.jpeg"
        %}   
        
        {% include testimonial.html
          quote = "This course is perfect for a seasoned SEO that knows what needs to get done and how to do it, but needs help with the soft skills: getting executive buy in, internal politics, budgeting, presentations, and more things no one ever talks about on Twitter.
          <br><br>
          <mark class="b">If you are trying to take your career to the next level, and be able to clearly communicate to both your peers and senior, this course is for you</mark>."
          name = "John-Henry Scherck"
          title = "Principal Consultant, Growth Plays"
          image = "/images/jh.jpeg"
        %}           




      </div>

    </div>

   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  