---
title: Upgrade your access and add The Art of Client Management
subtitle: Discounted rates for repeat customers
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}


    <div class="w-100 center ph4-l ph2 tc mw8">
        <h1 class="maintitle f3 lh-title b mb0">Upgrade your access: add The Art of Client Management</h1>
        <p class="pv4">If you already purchased the <a href="/executive-presence/" class="link seomba-red">Executive Presence</a> course, then you can add <a href="/client-management" class="link seomba-red">The Art of Client Management</a> at a discounted rate.</p>
      </div>

      <div class="flex-l w-90 mw8 center justify-between">

        <div class="w-50-l w-100 br2 ba b--black-20 ph4 pt2 pb4 mr4-l bg-white mb4">
          <div class="flex items-center h4-l">
            <h2 class="w-100 f2 lh-title b mb3 mt0 tc">Essentials Upgrade</h2>
          </div>
          
          <div class="avenir f4 lh-copy">
          Get access to The Art of Client Management course. Including:
          <ul>
            <li class="pv2">Over 5 hours of video</li>
            <li class="pv2">Case studies, examples, resources and assignments</li>
            <li class="pv2 white db-l dn"></li>
            <li class="pv2 white db-l dn"></li>
          </ul>
          <div class="avenir f2">$300 <span class="i f4">(Normally $500)</span></div>
          <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 mr3 grow">
            <a class="w-100 db link seomba-light cormorant tc lh-title" href="https://buy.stripe.com/cN28yP3Mm2xNfv28wK">Buy Now</a>
        </div>
          </div>
        </div>
  
        <div class="w-50-l w-100 br2 ba b--black-20 ph4 pt2 pb4 ml4-l bg-white mb4">
          <div class="flex items-center h4-l">
          <h2 class="w-100 f2 lh-title b mb3 mt0 tc">Professional Upgrade</h2>
        </div>
          
          <div class="avenir f4 lh-copy">
          Get access to The Art of Client Management course, with professional perks. Including:
          <ul> 
            <li class="pv2">Over 5 hours of video</li>
            <li class="pv2">Case studies, examples, resources and assignments</li>
            <li class="pv2">1:1 feedback on your assignments</li>
            <li class="pv2">Access to weekly office hours</li>
          </ul>
          <div class="avenir f2">$400 <span class="i f4">(Normally $700)</span></div>
          <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 mr3 grow">
            <a class="w-100 db link seomba-light cormorant tc lh-title" href="https://buy.stripe.com/9AQ8yPdmW3BRbeM5kz">Buy Now</a>
        </div>
          </div>
        </div>
  
  
  
      </div>
    
{% include footer.html %}


