---
title: Upgrade your access and add The Art of Client Management
subtitle: Discounted rates for repeat customers
---

{% include head.html %}

<script src="https://cdn.podia.com/embeds.js" async="async"></script>

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}


    <div class="w-100 center ph4-l ph2 tc mw8">
        <h1 class="maintitle f3 lh-title b mb0">Upgrade your access: add The Art of Client Management</h1>
        <p>If you already purchased the <a href="/executive-presence/" class="link seomba-red">Executive Presence</a> course, then you can add <a href="/client-management" class="link seomba-red">The Art of Client Management</a> at a discounted rate.</p>
      </div>

      <div class="flex-l w-90 mw8 center justify-between">

        <div class="w-50-l w-100 br2 ba b--black-20 ph4 pt2 pb4 mr4-l bg-white mb4">
          <div class="flex items-center h4-l">
            <h2 class="w-100 f2 lh-title b mb3 mt0 tc">Executive Presence</h2>
          </div>
          
          <a href="/executive-presence/"><img class="pt1 pb3" src="/images/exec-chip.png"></a>
          <div class="avenir f4 lh-copy">
          <span class="fw5">Designed for senior level SEO professionals who are working with senior stakeholders, whether working in-house or agency-side.</span><br><br> This course will help you get budget and buy-in for your work. Take the course and learn how to:
          <ul>
            <li class="pv2">Create buy-in &amp; budget for your work</li>
            <li class="pv2">Communicate effectively with senior stakeholders</li>
            <li class="pv2">Build a business case for your projects</li>
            <li class="pv2">Work cross-functionally to get things done</li>
          </ul>
          <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 mr3 grow">
            <a class="w-100 db link seomba-light cormorant tc lh-title" href="/executive-presence/">Learn More</a>
        </div>
          </div>
        </div>
  
        <div class="w-50-l w-100 br2 ba b--black-20 ph4 pt2 pb4 ml4-l bg-white mb4">
          <div class="flex items-center h4-l">
          <h2 class="w-100 f2 lh-title b mb3 mt0 tc">The Art of Client Management</h2>
        </div>
          <a href="/client-management/"><img class="pt1 pb3" src="/images/aocm-chip.png"></a>
          
          <div class="avenir f4 lh-copy">
          <span class="fw5">Designed for agency SEO professionals, whether sales, account managers or consultants.</span><br><br>This course will help you manage expectations, and retain clients more effectively. Take the course and learn how to:
          <ul> 
            <li class="pv2">Manage client expectations</li>
            <li class="pv2">Build trusted long-term relationships with clients</li>
            <li class="pv2">Tie your recommendations to business value</li>
            <li class="pv2">Retain and upsell clients more effectively</li>
          </ul>
          <div class="dib bg-seomba-red shadow-1 br2 f3 tc pa2 ph4 mr3 grow">
            <a class="w-100 db link seomba-light cormorant tc lh-title" href="/client-management/">Learn More</a>
        </div>
          </div>
        </div>
  
  
  
      </div>

      <div class="flex flex-wrap mw8 center w-90">

        <div class="w-50-l w-100 ba br2">
            Essentials Upgrade


* Add The Art of Client Management course, with over 5 hours of video, case studies and resources.

<div class="avenir f2">$300 <span class="i f4">(Normally $500)</span></div>
<a class="pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://buy.stripe.com/cN28yP3Mm2xNfv28wK" data-podia-embed="link" >Buy Now</a> 

        </div>

        <div class="w-50-l w-100">
            Professionals Upgrade
            * Add The Art of Client Management course, with over 5 hours of video, case studies and resources.
            * Get 1:1 feedback on your assignments and access to the weekly office hours
            
            <div class="avenir f2">$400 <span class="i f4">(Normally $700)</span></div>
            <a class="pa2 ph4 seomba-light link bg-seomba-red br2 f4 grow" href="https://buy.stripe.com/9AQ8yPdmW3BRbeM5kz" data-podia-embed="link" >Buy Now</a>
            
        </div>


      </div>
    
    
{% include footer.html %}


