---
title: SEO MBA Corporate Workshops
subtitle: Level up your team
---

{% include head.html %}

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="maintitle f2 lh-title b">Corporate Workshops</h1>
    </div>
    
    <div class="">
      
      <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

      <div class="mw7 center ph5-l ph2 w-100 tl lh-copy f4">
        <p>The <a class="link seomba-red" href="https://seomba.com/courses/">SEO MBA courses</a> are designed for individuals but scale well to teams. In fact some of the best learning outcomes are from teams who purchase a course as a group so that they can discuss course materials together and apply it to real work situations in front of them.
        <br><br>
        If you want to get in touch, book a chat <a class="link seomba-red" href="https://calendly.com/tomcritchlow/tom-chat">via calendly</a> or email me: <a class="link seomba-red" href="mailto:tom@seomba.com">tom@seomba.com</a>
        <br><br>
        There are three standard ways for companies to engage for training and development:</p>

        <h2>Option 1: Test & Learn</h2>
        <p>If you're considering the course for your company and want to test drive it first, this option enables you to get a feel for the material.</p>
        <p><ul>
          <li>Enroll 1-3 people in one of the courses</li>
          <li>Each participant gets a private 45-min coaching session with Tom Critchlow</li>
          <li>This price discounted from any future group purchases</li>
        </ul></p>
          Enroll 1-3 people in the course, with a bundled 45-min coaching session for each participant.

        <h2>Option 2: Group Discounts</h2>
        <p>For large teams looking to enroll together, group pricing is available for courses as follows:</p>
        <p><ul>
                <li>3+ seats: 10% discount</li>
                <li>5+ seats: 15% discount</li>
            </ul></p>
            <p>For 10+ seats get in touch to discuss custom discounts and solutions, as well as unlimited licenses for larger teams. The unlimited license allows you to enroll as many people as you want now and in the future for a fixed fee. This is appealing for companies that want to formally integrate the SEO MBA into their internal training program.</p>
        
        <h2>Option 3: Private Training</h2>
        <p>If you have a large group and want an immersive, live version of a course, customized to your needs then choose the private cohort.</p>
        <p><ul>
          <li>Kickoff call to understand key learning challenges and goals</li>
          <li>Customized course content based on your needs</li>
          <li>A 90-min session once a week for 5 weeks</li>
          <li>1:1 feedback for everyone on the weekly assignments</li>
          <li>Q&A time and group discussion of real work products</li>
      </ul></p>
      </div>
      </div>
 
      <div class="pt4 bg-seomba center" id="tom">
        <h3 class="f2 cormorant tc w-90 center">Learn with Tom Critchlow</h3>
        <div class="flex flex-wrap-l flex-wrap-reverse mw8 w-90 ph3-l center">
    
          <div class="w-100 w-50-l pr4-l">
            
              <div class="avenir f4 pb4 lh-title">
              An industry leader with over 15 years experience in SEO and digital strategy. Tom has worked with well known brands, trained teams of SEO consultants and worked with agencies to improve sales, process and operations.
              </div>
              <div class="w-100 pb4">
                <div class="flex items-center">
                  <div class="w-25 pr4">
                    <img class="br-100" style="filter: grayscale(1);" src="/images/robert.jpeg" />
                  </div>
                  <div class="w-75">
                    <em>“Tom brings a unique mix of SEO, business strategy and executive presence. Working together we have successfully secured investment to build modern SEO programs, driven valuable revenue growth and transformed SEO into a strategic business lever with executive leadership at various enterprises.” <br>- Robert Bellovin, VP Product, Angi</em>
                  </div>
                </div>
               </div>
      
               <div class="w-100">
                <div class="flex items-center">
                  <div class="w-25 pr4">
                    <img class="br-100" style="filter: grayscale(1);" src="/images/jeremy.jpeg" />
                  </div>
                  <div class="w-75">
                    <em>“Tom is a 'CEO Whisperer'. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered.” <br>- Jeremy Cabral, Co-founder & COO, Finder</em>
                  </div>
                </div>
               </div> 
            </div>
          
    
          <div class="w-100 w-50-l pl4-l pb2 pb0-l">
            <img class="w-100 center shadow-1" src="/images/tom-speaking.jpeg" />
          </div>
    
        </div>
    
      </div>
      <!--End Tom Critchlow section-->
    
      <div class="w-100 mw9 ph3-l center bg-seomba pt2 pb4">
        <h3 class="f3 tc">Clients I've Worked With</h3>
    
        <div class="flex flex-wrap justify-center">
          <img class="pa3 h2 mt1" src="/images/clients/nyt.svg">
          <img class="pa3 h2 mt1" src="/images/clients/etsy.svg">
          <img class="pa3 h2 mt1" src="/images/clients/google.svg">
    
          <img class="pa3 h2 mt1" src="/images/clients/angi.svg">
          <img class="pa3 h2" src="/images/clients/finder.svg">
          <img class="pa3 h2" src="/images/clients/gartner.svg">
          <img class="pa3 h2" src="/images/clients/dotdash.svg">
        </div>     
    
      </div>
      <!--End client logos-->
       
        <h3 class="f3 tc">Over 300 professionals have enrolled in an SEO MBA course</h3>

        </div>

        <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">
        {% include testimonial.html

            quote = "The SEO MBA course and newsletter has been a game-changer for my team and I. <br><br>
            <mark class='b'>The course does an excellent job of providing conceptual frameworks and grounding them with targeted examples and templates. The lessons from this course have already helped my team deliver better for our clients, and I strongly recommend this course to other teams and individuals</mark>."
            
            name = "Justin McKinney"
            image = "/images/testimonials/justin.jpeg"
            title = "Head Of SEO, Wpromote"
          %}  
          
          {% include testimonial.html

            quote = "Tom knows his stuff.<br><br> <mark class='b'>His course helped our team understand how, by understanding the perspective of the budget holder, we can make small tweaks to have big changes in how we can work more effectively with clients</mark>."
            
            name = "Barry Loughran"
            image = "/images/testimonials/barry.jpeg"
            title = "MD Performance Experience, Dentsu"
          %} 

          {% include testimonial.html

            quote = "Tom is the top mind in the world of 'SEO for business'.<br><br>
            <mark class='b'>Some courses might teach you how to fix 404s, but Tom will teach you how to actually get things done and create major change in enterprise organizations.<br><br>His consulting services have been integral to the growth of 110-person SEO-focused agency.</mark>"
            
            name = "Ross Hudgens"
            image = "/images/testimonials/ross-hudgens.jpeg"
            title = "Founder/CEO, Siege Media"
          %}
        </div>

        <div class="w-100 center ph4-l ph2 tc">
        <p>Want to learn more?</p>
        <a class="f6 f5-l link  seomba-light  dib pa2 mb1 br2 br--bottom ph4-l bg-seomba-red" href="https://calendly.com/tomcritchlow/tom-chat">Book time to chat</a>
        <p>Or email me: or email me: <a class="link seomba-red" href="mailto:tom@seomba.com">tom@seomba.com</a></p>
        </div>

    

   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  