---
title: SEO MBA Corporate Workshops
subtitle: Level up your team
---

{% include head.html %}

<body class="w-100 h-100 db bg-seomba avenir">

    {% include nav.html %}

    <div class="w-100 center ph4-l ph2 tc">
      <h1 class="maintitle f2 lh-title b">Corporate Workshops</h1>
    </div>
    
    <div class="">
      
      <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">

        <div class="mw7 center ph5-l ph2 w-100 tl lh-copy">
            <p>
        The SEO MBA course is designed for established SEO professionals who need to improve their business skills, become more confident dealing with senior executives and manage large SEO budgets.
        <br><br>
        Key outcomes:
        <ul>
        <li>Create a compelling SEO strategy and vision</li>
        <li>Create a business model for investing in SEO projects</li>
        <li>Create compelling executive-ready presentations</li>
        <li>Become more effective at getting things done</li>
        </ul>
        <a class="link seomba-red" href="https://seomba.com/executive-presence/">See full curriculum</a>.
        <br><br>
        In addition to the self-paced online course I've run private workshops for agencies, holding companies and in-house teams.
        <br><br>Want to discuss a corporate workshop or a group discount? Get in touch, book a chat <a class="link seomba-red" href="https://calendly.com/tomcritchlow/tom-chat">via calendly</a> or email me: <a class="link seomba-red" href="mailto:tom@seomba.com">tom@seomba.com</a>
        </p>

        <h2 cl>Option 1: Test & Learn</h2>
        <p>If you're considering the course for your company and want to test drive it first, this option enables you to get a feel for the material. This provides access to the <a class="link seomba-red" href="https://seomba.com/executive-presence/">full self-paced course</a> but also provides 1:1 feedback on the individual assignments and a <strong>60 minute coaching session with Tom Critchlow</strong> for each participant.</p>
        <p>Pricing: $1,500 / person (designed for 1-3 people)</p>
        <p><em class="black-60">If you decide to purchase a group package later on this price will be discounted from the total</em></p>

        <h2>Option 2: Group Discounts</h2>
        <p>For large teams, group pricing is available as follows:</p>
        <p><ul>
                <li>3+ seats: 10% discount</li>
                <li>5+ seats: 15% discount</li>
                <li>10+ seats: 20% discount</li>
            </ul>
            In addition, if you purchase 10+ seats I will add a <strong>90 minute private Q&A session with your team</strong> where we can review course material and discuss real challenges in a private setting.
        </p>

        <h2>Option 3: Private Live Course</h2>
        <p>If you have a large group and want an immersive, live version of the course, customized to your needs then choose the private cohort.<br><br> The format is 5 weeks of 90-minute zoom calls where we go through the course materials together, with plenty of time for group discussion. The benefits of the live version are: guaranteed engagement, discussion and application to real challenges the group is facing and customized outcomes based on your goals.</p>
        <p>Format: initial 60 minute conversation to align on goals and customize the course followed by 5 weeks of 90-min zoom calls. In addition, everyone in the course gets 1:1 feedback on the assignments.</p>
        <p>Pricing: $12,000 (designed for 8-12 people)</p>

        <p>Over 200 SEO professionals have enrolled in the course, here's some of what they say:</p>

        </div>

        <div class="w-100 mw9 bg-seomba center flex flex-wrap justify-center z-0 relative">
        {% include testimonial.html

            quote = "The SEO MBA course and newsletter has been a game-changer for my team and I. <br><br>
            <mark class='b'>The course does an excellent job of providing conceptual frameworks and grounding them with targeted examples and templates. The lessons from this course have already helped my team deliver better for our clients, and I strongly recommend this course to other teams and individuals</mark>."
            
            name = "Justin McKinney"
            image = "/images/testimonials/justin.jpeg"
            title = "Head Of SEO, Wpromote"
          %}  
          
          {% include testimonial.html

            quote = "Tom knows his stuff.<br><br> <mark class='b'>His course helped our team understand how, by understanding the perspective of the budget holder, we can make small tweaks to have big changes in how we can work more effectively with clients</mark>."
            
            name = "Barry Loughran"
            image = "/images/testimonials/barry.jpeg"
            title = "MD Performance Experience, Dentsu"
          %} 

          {% include testimonial.html

            quote = "Tom is the top mind in the world of 'SEO for business'.<br><br>
            <mark class='b'>Some courses might teach you how to fix 404s, but Tom will teach you how to actually get things done and create major change in enterprise organizations. His consulting services have been integral to the growth of 110-person SEO-focused agency.</mark>"
            
            name = "Ross Hudgens"
            image = "/images/testimonials/ross-hudgens.jpeg"
            title = "Founder/CEO, Siege Media"
          %}
        </div>

        <div class="mw7 center ph5-l ph2 w-100 tl lh-copy">
            <h2>About Tom Critchlow</h2>
            <p>I've delivered training for some of the world's biggest companies, been a consultant to brands like The New York Times, Google and Gartner, and helped Fortune-100 companies structure multi-million dollar SEO programs.</p>
            <p><em>“Tom is a 'CEO Whisperer'. He is truly a world-class listener and mentor who knows how to knock down walls inside companies to get strategic projects delivered." - Jeremy Cabral Co-Founder & COO, Finder</em></p>
            <p>Set up time to chat <a class="link seomba-red" href="https://calendly.com/tomcritchlow/tom-chat">via calendly</a> or email me: <a class="link seomba-red" href="mailto:tom@seomba.com">tom@seomba.com</a></p>
        </div>
        
    </div>

    </div>

   
      {% include footer.html %}
        
       
      


      
                
      
    
    
  