<div class="w-75-l w-100 ba b--seomba-red-accent br2 bg-seomba pa4 mv4 center">
    <h3 class="f2-l f3 mt0">Two Course Professional Bundle: <br>Buy <span class="seomba-red">Executive Presence</span> and <span class="seomba-red">The Art of Client Management</span> together</h3>

    <div class="flex flex-wrap items-center">
      <div class="w-third-l w-100 pa2">
        <img class="pa1" src="/images/bundle.png"/>
      </div>
      <div class="w-third-l w-100 pa2 pl4-l tl">
        <div class="tl">What's included:</div>
        
        

          <div class="flex w-100 pv3">
            <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
            <div class="w-100"><span class="b">Executive Presence.</span> Full course access, with over 5 hours of video. For senior professionals to learn executive communication. <span class="i">(Value: $975)</span></div>
          </div>
      
          <div class="flex w-100 pv3">
            <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
            <div class="w-100"><span class="b">The Art of Client Management.</span> Full course access, with over 5 hours of video. For agency SEO professionals to learn client management. <span class="i">(Value: $700)</span></div>
          </div> 
      
          <div class="flex w-100 pv3">
            <div class="pr2 pt1"><img class="h1" src="/images/green-check.svg"/></div>
            <div class="w-100"><span class="b">Professional access.</span> Get 1:1 feedback on your assignments and access to weekly office hours.</div>
          </div>    
          

      </div>
      <div class="w-third-l w-100 pa2 pl4-l tc">
      
        <div class="f2 avenir fw4 mv3 tc relative">$1,375 <s class="f4 dib v-top"><span class="seomba">$1,675</span></s></div>
        <a class="tc pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://courses.seomba.com/professional-tier-executive-presence" data-podia-embed="link" onclick="gtag('event', 'podia', {'event_category': 'podia_checkout', 'event_label': 'professional'});">Buy Now</a>
      </div>

    </div>

  </div>