<div class="w-75-l w-100 ba b--seomba-red-accent br2 bg-seomba pa4 mv4 center">
    <h3 class="f2 mt0">Two Course Bundle: Buy <span class="seomba-red">Executive Presence</span> and <span class="seomba-red">The Art of Client Management</span> together</h3>

    <div class="flex flex-wrap items-center">
      <div class="w-third-l w-100 pa2">
        <img class="pa1" src="/images/bundle.png"/>
      </div>
      <div class="w-third-l w-100 pa2 pl4-l">
        <div class="tl">What's included:</div>
        <ul class="tl">
          <li class="pv2">Executive Presence course (value: $975)</li>
          <li class="pv2">The Art of Client Management (value $700)</li>
          <li class="pv2">Over 10 hours of video</li>
          <li class="pv2">Professional perks: 1:1 feedback on assignments and access to weekly office hours</li>
          <li class="pv2">Save $375 by buying both courses together</li>
        </ul>
      </div>
      <div class="w-third-l w-100 pa2 pl4-l tc">
      
        <div class="f2 avenir fw4 mv3 tc relative">$1,300 <div class="i f5 absolute right-1 top-0 strike">$1,675</div></div>
        <a class="tc pa2 ph4 seomba-light link bg-seomba-red br2 f4" href="https://courses.seomba.com/professional-tier-executive-presence" data-podia-embed="link" onclick="gtag('event', 'podia', {'event_category': 'podia_checkout', 'event_label': 'professional'});">Enroll Today</a>
      </div>

    </div>

  </div>