
      
<footer class="pv4 ph3 ph5-m ph6-l bg-seomba-dark seomba-light center tc avenir">
  <a href="/"><img src="/images/logo-dark-small.png" class="dib h2" alt="The SEO MBA"></a>
  <small class="f6 db tc">© 2022 <b class="ttu">YES AND MARKETING LLC</b>., All Rights Reserved</small>
  <div class="tc mt3">
    <a href="https://newsletter.seomba.com" title="Language" class="f6 dib ph2 link seomba-light dim">Newsletter</a>
    <a href="/consulting/"    title="Terms" class="f6 dib ph2 link seomba-light dim">Consulting</a>
    <a href="/about/"  title="Privacy" class="f6 dib ph2 link seomba-light dim">About</a>
  </div>
</footer>


        
      </body>
      
      </html>