
      
<footer class="pv4 ph3 ph5-m ph6-l bg-seomba-dark seomba-light center tc avenir">
  <img src="/images/logo-dark-small.png" class="dib h2" alt="The SEO MBA">
  <small class="f6 db tc">© 2021 <b class="ttu">YES AND MARKETING LLC</b>., All Rights Reserved</small>
  <div class="tc mt3">
    <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Courses</a>
    <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Newsletter</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Consulting</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">About</a>
  </div>
</footer>


        
      </body>
      
      </html>