<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,400&display=swap"
      rel="stylesheet"
    />

    <title>{% if page.title %}{{page.title}}{%else%}The SEO MBA - Leadership & Business Skills for SEOs{%endif%}</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/hamburgers.css" />
    <link rel="stylesheet" href="/css/all.css" />
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <link rel="icon" href="/images/icon.png" />
    
<meta property="og:type"   content="article" />
 <meta property="og:url"    content="https://seomba.com{{page.url}}" />

 {% if page.title %}
 <meta property="og:title"  content="{{page.title}}" />
 {% else %}
 <meta property="og:title"  content="The SEO MBA" />
 {% endif %}

 {% if page.title %}
 <meta property="og:description"  content="{{page.subtitle}}" />
 {% else %}
 <meta property="og:description"  content="Leadership & Business Skills for SEOs" />
 {% endif %}
 
 {% if page.og %}
 <meta property="og:image"  content="{{page.og}}" />
 {% else %}
 <meta property="og:image"  content="https://seomba.com/images/seomba-og.png" />
 {% endif %}

 
 <meta property="og:image:width"  content="600" />
 <meta property="og:image:height"  content="315" />



<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@theseomba">
<meta name="twitter:creator" content="@theseomba">

{% if page.title %}
<meta name="twitter:title" content="{{page.title}}">
 {% else %}
 <meta name="twitter:title" content="The SEO MBA">
 {% endif %}

 {% if page.subtitle %}
 <meta name="twitter:description" content="{{page.subtitle}}">
 {% else %}
 <meta name="twitter:description" content="Leadership & Business Skills for SEOs">
 {% endif %}

{% if page.og %}
 <meta property="twitter:image"  content="{{page.og}}" />
 {% else %}
 <meta name="twitter:image" content="https://seomba.com/images/seomba-og.png">
 {% endif %}

 {% if page.noindex %}
 <meta name="robots" content="noindex">
 {% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K8ECP69MCP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K8ECP69MCP');
</script>

</head>