<nav class="db dt-l w-100 border-box pa3 ph5-l">
    <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
      <img src="/images/logo-light-small.png" class="dib h2" alt="The SEO MBA">
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
      
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="https://seomba.substack.com" title="Blog">Newsletter</a>
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/consulting" title="Press">Consulting</a>
      <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l ttu" href="/about" title="How it Works">About</a>
    </div>

    <div class="f5 fr fn-l pv2 fw3 w-50-l pr2 center-l mt3">    
      <div id="hamburger" class="hamburger hamburger--squeeze">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>

  </div>
  </nav>