<script>
    fetch('https://ipinfo.io/json?token=e4d03dda8c62e3')
    .then(response => response.json())
    .then(data => geofunction(data)).catch(()=>{
     ///Exception occured do something
  })
  
  function geofunction(data){
    // Parity pricing countries determined from here:
    // https://www.exportator.com/purchasing-power-parity-pricing-calculator
    // But if you're looking at the source code and feel like you need the help
    // Then please grab the parity discount code and use it :)
    // Much love,
    // Tom
    
    var PPP_0 = ['CH','IL','DK','IS','VU','AU','FI','LU','NZ','FM','NO','SB','SE','MH','BS','TV','US','AT','BB','CA','IE','GB','BE','FR','NL','DE','JP'];

    var PPP_15 = ['IT','KI','SM','PR','WS','HK','ES','TO','ER','LC','KR','PT','SI','DM','CY','MO','EE','GR'];
  
    if(!PPP_0.includes(data.country)){
      const regionNames = new Intl.DisplayNames(['en'], {type: 'region'});
      $("#paritypricing").toggle();
      $("#countryname").html(regionNames.of(data.country));
      if(PPP_15.includes(data.country)){
        $("#pppcode").html("PPP15");
        $("#pppdiscount").html("15%");
      }
      console.log("Visitor from "+regionNames.of(data.country)+" showing parity pricing.");
      gtag('event', 'parity', {'event_category': 'parity', 'event_label': data.country});
    }
  };
  </script>      
  