{% if include.tweet %}

<div class="testimonial ma4-l w-90 w-25-l relative cormorant">

    <blockquote class='twitter-tweet' data-conversation='none'><a href='{{include.tweet}}'></a></blockquote>

</div>

{% else %}


<div class="testimonial bg-white shadow-1 pa4 ma4 w-25-l relative cormorant flex flex-column">
    <p class="f4 pt0 mt0 cormorant-number">{{include.quote}}</p>
    <div class="pv3 flex items-center" style="margin-top:auto">
      {% if include.image %}
      <div class="w-20">
      <img class="br-100" src="{{include.image}}" />
      </div>
      {% endif %}
      <div class="w-75 pl2 avenir">
      <div class="b">{{include.name}}</div>
      <div class="">{{include.title}}</div>
      </div>
    </div>

    <!--<div class="testimonialshadow ba b--black-50"></div>-->
  </div>

  {% endif %}