{% include head.html %}

{% include header.html %}

{% include googleanalytics.html %}

<div class="mw8 center lh-copy f4 postcontainer ph3 ph0-l" role="article">

  <div class="pt4 pt5-l w-two-thirds-ns">
  
      <h1 class="f2 f1-l fw4 lh-solid mv1 posttitle">{{page.title}}</h1>

    {% if page.subtitle %}
    <h2 class="f3 fw3 lh-copy mt1 subtitle">{{page.subtitle}}</h2>
      {% endif %}

    {% if page.date %}
    <div class="f6 f6-s black-50 pv3 abel">{{ page.date | date: "%B %-d, %Y" }}</div>
      {% endif %}
  </div>
  
  
  <div class="w-two-thirds-ns">
  


  {{content}}

  <hr class="w3 mv2">

  <div class="Previous-next f6 cf pb4">
    {% if page.previous.url %}
    <div class="fl w-40">
    <span class="ttu tracked">⇜ PREVIOUS</span><br>
      <a class="previous" href="{{page.previous.url}}">{{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="fr w-40 tr">
    <span class="ttu tracked">NEXT ⇝</span><br>
      <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
    </div>
    {% endif %}
  </div>

  <div class="ba w-100 w-75-ns center f5 mt4 pa2 palatino pb4 relative mb6 robotomono">

    <p>Little Futures is a research and consultancy studio from <a href="https://twitter.com/itsbdell">Brian Dell</a> and <a href="https://tomcritchlow.com/">Tom Critchlow</a> to make futures thinking less abstract and more grounded - to shine a light on what we call <strong>“arm’s-length futures.”</strong></p>
    
    <p>With a background in creative strategy, media, startups & consulting we are experimenting with building a new kind of research studio to navigate new kinds of futures - Little Futures.</p>
    
    <p>Sign up for the weekly email:</p>

    <div class="w-100 tc abel f5 absolute mb6 mb0-l left-0">
        <div class="ba w-75 center bg-white shadow-5 pa2">
          <form
        action="https://buttondown.email/api/emails/embed-subscribe/littlefutures"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/littlefutures', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <label for="bd-email">Subscribe here</label><br>
        <input class="input-reset ba b--black-20 pa2" type="email" name="email" id="bd-email">
        <input type="hidden" value="1" name="embed"></input>
        <input class="input-reset ba b--black-20 pa2 mv1 bg-black white" type="submit" value="Subscribe"></input>
      </form>
      </div>
      </div>

</div>
    




</div>
</div>


{% include footer.html %}