{% include head.html %}

<body class="w-100 h-100 db bg-seomba avenir">

{% include nav.html %}

<div class="center mw8 center pv4-l ph0-l ph3">

<h1 class="f1 pv0 mb1 mt3">The SEO MBA Log</h1>
<div class="f3 mb3">Telling the story of building the SEO MBA, by Tom Critchlow</div>

<a class="seomba-red" href="https://seomba.substack.com/">Subscribe to the SEO MBA newsletter</a> or subscribe to <a class="seomba-red" href="/feed.xml">log updates via RSS</a>.

</div>

<div class="w-100 bg-white bt b--black-10">

<div class="center mw8 pl4-l pv4-l ph0-l ph3">

<div class="f6 black-50 fr">Filter by: <a href="#">subscribers</a> | <a href="#">courses</a> | <a href="#">posts</a></div>

{% for post in site.posts %}

<div class="flex w-100 bb b--black-10 pv4" id="{{ post.date | date: "%Y-%m-%d" }}">
  <div class="w-20-l black-60 ttu f5 pv3"><a href="#{{forloop.index}}" class="link red pr2">#</a>{{ post.date | date: "%B %-d, %Y" }}</div>
  
  <div class="w-70-l ml4">
    {% if post.title %}<h3 class="mv3">{{post.title}}</h3>{% endif %}
    {{post.content}}
  </div>
</div>


{% endfor %}

</div>

</div>  

{% include footer.html %}